flows/Cease_Desist-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Attorney_Representation_BK_SR</name>
        <label>Attorney Representation - BK - SR</label>
        <locationX>725</locationX>
        <locationY>406</locationY>
        <apexClass>FlowSendServiceRequest</apexClass>
        <connector>
            <targetReference>Service_Request_Completed</targetReference>
        </connector>
        <inputParameters>
            <name>vActivityCode</name>
            <value>
                <stringValue>PBNK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vAllConsentDetails</name>
        </inputParameters>
        <inputParameters>
            <name>vBKFlag</name>
            <value>
                <elementReference>BK_Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDMNumber</name>
            <value>
                <elementReference>BK_DM_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDNCActionDetails</name>
            <value>
                <stringValue>ALL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vFinanceAccountId</name>
            <value>
                <elementReference>FlowInputAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vTaskDesc</name>
            <value>
                <stringValue>Attorney Name: {!Atty_Name_BK}, Address: {!Atty_Address_BK}, Phone: {!Atty_Phone_BK}, BK Status: {!BK_Status}, Filing Location: {!BK_Filing_Location}, Filing Date: {!BK_Filing_Date}, Case Number: {!BK_Case_Number}, Chapter: {!BK_Chapter}, DM form: {!BK_DM_Number}.</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vTaskDesc</assignToReference>
            <name>oTaskDesc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vActivityCode</assignToReference>
            <name>oActivityCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vDMNumberText</assignToReference>
            <name>oDMNumber</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Attorney_Representation_Non_BK_SR</name>
        <label>Attorney Representation - Non-BK  SR</label>
        <locationX>725</locationX>
        <locationY>505</locationY>
        <apexClass>FlowSendServiceRequest</apexClass>
        <connector>
            <targetReference>Service_Request_Completed</targetReference>
        </connector>
        <inputParameters>
            <name>vActivityCode</name>
            <value>
                <stringValue>DNCL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vAllConsentDetails</name>
        </inputParameters>
        <inputParameters>
            <name>vBKFlag</name>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDMNumber</name>
            <value>
                <numberValue>3428.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDNCActionDetails</name>
            <value>
                <stringValue>ALL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vFinanceAccountId</name>
            <value>
                <elementReference>FlowInputAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vTaskDesc</name>
            <value>
                <stringValue>Attorney Representation Non BK, Attorney Name: {!Atty_Name_NBK}, Address: {!Atty_Address_NBK}, Phone: {!Atty_Phone_NBK}, DM form: 3428.</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vTaskDesc</assignToReference>
            <name>oTaskDesc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vActivityCode</assignToReference>
            <name>oActivityCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vDMNumberText</assignToReference>
            <name>oDMNumber</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Cease_and_Desist_Confirmation_SR</name>
        <label>Cease and Desist Confirmation SR</label>
        <locationX>726</locationX>
        <locationY>310</locationY>
        <apexClass>FlowSendServiceRequest</apexClass>
        <connector>
            <targetReference>Service_Request_Completed</targetReference>
        </connector>
        <inputParameters>
            <name>vActivityCode</name>
            <value>
                <stringValue>DNC1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vAllConsentDetails</name>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vBKFlag</name>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDMNumber</name>
            <value>
                <numberValue>3428.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDNCActionDetails</name>
            <value>
                <stringValue>ALL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vFinanceAccountId</name>
            <value>
                <elementReference>FlowInputAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vTaskDesc</name>
            <value>
                <stringValue>Cease &amp; Desist Request, DM form: 3428.</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vTaskDesc</assignToReference>
            <name>oTaskDesc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vActivityCode</assignToReference>
            <name>oActivityCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vDMNumberText</assignToReference>
            <name>oDMNumber</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Get_Financial_Account_Data</name>
        <label>Get Financial Account Data</label>
        <locationX>44</locationX>
        <locationY>7</locationY>
        <apexClass>FlowGetFinancialAccountData</apexClass>
        <connector>
            <targetReference>ValidAccountPresented</targetReference>
        </connector>
        <inputParameters>
            <name>vFinanceAccountId</name>
            <value>
                <elementReference>FlowInputAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vElection_Overall_Consent_B</assignToReference>
            <name>oElection_Overall_Consent_B</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vElection_Overall_Consent_CB</assignToReference>
            <name>oElection_Overall_Consent_CB</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Home_Phone_DNC_BillTo_B</assignToReference>
            <name>oFlag_Home_Phone_DNC_BillTo_B</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Home_Phone_DNC_BillTo_CB</assignToReference>
            <name>oFlag_Home_Phone_DNC_BillTo_CB</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Home_Phone_DNC_Garage_B</assignToReference>
            <name>oFlag_Home_Phone_DNC_Garage_B</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Home_Phone_DNC_Garage_CB</assignToReference>
            <name>oFlag_Home_Phone_DNC_Garage_CB</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Mobile_Phone_DNC_B</assignToReference>
            <name>oFlag_Mobile_Phone_DNC_B</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Mobile_Phone_DNC_CB</assignToReference>
            <name>oFlag_Mobile_Phone_DNC_CB</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Work_Phone_DNC_BillTo_B</assignToReference>
            <name>oFlag_Work_Phone_DNC_BillTo_B</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Work_Phone_DNC_BillTo_CB</assignToReference>
            <name>oFlag_Work_Phone_DNC_BillTo_CB</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Work_Phone_DNC_Garage_B</assignToReference>
            <name>oFlag_Work_Phone_DNC_Garage_B</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vFlag_Work_Phone_DNC_Garage_CB</assignToReference>
            <name>oFlag_Work_Phone_DNC_Garage_CB</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vBKStatus</assignToReference>
            <name>oBKFlag</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vValidAccountNumber</assignToReference>
            <name>oValidAccountNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vNumAccounts</assignToReference>
            <name>oNumAccounts</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Limited_Communication_Confirmation_PO_BO_SR</name>
        <label>Limited Communication Confirmation PO BO SR</label>
        <locationX>726</locationX>
        <locationY>116</locationY>
        <apexClass>FlowSendServiceRequest</apexClass>
        <connector>
            <targetReference>Service_Request_Completed</targetReference>
        </connector>
        <inputParameters>
            <name>vActivityCode</name>
            <value>
                <stringValue>DNC1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vAllConsentDetails</name>
            <value>
                <stringValue>,false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vBKFlag</name>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDMNumber</name>
            <value>
                <numberValue>3420.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDNCActionDetails</name>
            <value>
                <stringValue>{!Home_PhoneB1},{!Work_PhoneB1},{!Mobile_PhoneB1},{!Home_Phone_B1Billing},{!Work_Phone_B1Billing}:false,false,false,false,false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vFinanceAccountId</name>
            <value>
                <elementReference>FlowInputAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vTaskDesc</name>
            <value>
                <stringValue>Per request do not call &lt;phoneList&gt; DM form: 3420.</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vBKStatus</assignToReference>
            <name>oBKFlag</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vTaskDesc</assignToReference>
            <name>oTaskDesc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vActivityCode</assignToReference>
            <name>oActivityCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vDMNumberText</assignToReference>
            <name>oDMNumber</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Limited_Communication_Confirmation_PO_SR</name>
        <label>Limited Communication Confirmation PO SR</label>
        <locationX>727</locationX>
        <locationY>206</locationY>
        <apexClass>FlowSendServiceRequest</apexClass>
        <connector>
            <targetReference>Service_Request_Completed</targetReference>
        </connector>
        <inputParameters>
            <name>vActivityCode</name>
            <value>
                <stringValue>DNC1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vAllConsentDetails</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vBKFlag</name>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDMNumber</name>
            <value>
                <numberValue>3420.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDNCActionDetails</name>
            <value>
                <stringValue>{!Home_PhoneB},{!Work_PhoneB},{!Mobile_PhoneB},{!Home_Phone_BBilling},{!Work_Phone_BBilling}:{!Home_PhoneCOB},{!Work_PhoneCOB},{!Mobile_PhoneCOB},{!Home_phone_COB_Billing},{!Work_Phone_COB_Billing}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vFinanceAccountId</name>
            <value>
                <elementReference>FlowInputAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vTaskDesc</name>
            <value>
                <stringValue>Per request do not call &lt;phoneList&gt; DM form: 3420.</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vTaskDesc</assignToReference>
            <name>oTaskDesc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vActivityCode</assignToReference>
            <name>oActivityCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vDMNumberText</assignToReference>
            <name>oDMNumber</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>LimitedCommunicationWO_SR</name>
        <label>Limited Communication WO SR</label>
        <locationX>726</locationX>
        <locationY>19</locationY>
        <apexClass>FlowSendServiceRequest</apexClass>
        <connector>
            <targetReference>Service_Request_Completed</targetReference>
        </connector>
        <inputParameters>
            <name>vActivityCode</name>
            <value>
                <stringValue>DNC1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vAllConsentDetails</name>
        </inputParameters>
        <inputParameters>
            <name>vBKFlag</name>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDMNumber</name>
            <value>
                <numberValue>3428.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vDNCActionDetails</name>
            <value>
                <stringValue>ALL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vFinanceAccountId</name>
            <value>
                <elementReference>FlowInputAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vTaskDesc</name>
            <value>
                <stringValue>Limited Communication request Written Correspondence only, DM form: 3428.</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vTaskDesc</assignToReference>
            <name>oTaskDesc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vActivityCode</assignToReference>
            <name>oActivityCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vDMNumberText</assignToReference>
            <name>oDMNumber</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>Attorney_Representation_BK</name>
        <choiceText>Atty Rep - BK</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Attorney_Representation_Non_BK</name>
        <choiceText>Atty Rep - Non-BK</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Cease_and_Desist</name>
        <choiceText>C &amp; D</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Home_NumberCB</name>
        <choiceText>Home Number</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>HomeNumberB</name>
        <choiceText>HomeNumber</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Limited_Communication</name>
        <choiceText>LC - PO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Limited_Communication_WO</name>
        <choiceText>LC - WO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mobile_NumberB</name>
        <choiceText>Mobile Number</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mobile_NumberCB</name>
        <choiceText>Mobile Number</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Overall_ConsentB</name>
        <choiceText>Overall Consent</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Overall_ConsentCB</name>
        <choiceText>Overall Consent</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Work_NumberB</name>
        <choiceText>Work Number</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Work_NumberCB</name>
        <choiceText>Work Number</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>AllConsentToNo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All Consent to NO</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Choices</name>
        <label>Choices</label>
        <locationX>37</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>Choice: Limited Communication</defaultConnectorLabel>
        <rules>
            <name>ChoiceAttorney_Representation_BK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attorney_Representation_BK</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attorney_Representation_BK_Option</targetReference>
            </connector>
            <label>Choice: Attorney Representation - BK</label>
        </rules>
        <rules>
            <name>Choice_Limited_Communication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Limited_Communication</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vNumAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limited_Communication_Screen</targetReference>
            </connector>
            <label>Choice: Limited Communication</label>
        </rules>
        <rules>
            <name>Choice_Cease_and_Desist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cease_and_Desist</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cease_and_Desist_Scren</targetReference>
            </connector>
            <label>Choice: Cease and Desist</label>
        </rules>
        <rules>
            <name>Choice_Attorney_Representation_Non_BK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attorney_Representation_Non_BK</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attorney_Representation_Non_BK_screen</targetReference>
            </connector>
            <label>Choice: Attorney Representation - Non-BK</label>
        </rules>
        <rules>
            <name>Choice_Limited_Coummication_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Limited_Communication_WO</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limited_Commuication_WO_Screen2</targetReference>
            </connector>
            <label>Choice: Limited Coummication - WO</label>
        </rules>
        <rules>
            <name>Choice_Limitied_Communication_CS_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Limited_Communication</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vNumAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limited_Communication_CS_Only</targetReference>
            </connector>
            <label>Choice:Limitied Communication CS Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidAccountPresented</name>
        <label>ValidAccountPresented</label>
        <locationX>42</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Invalid_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CannotProceed</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vValidAccountNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vNumAccounts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Toyota_Finanicial_Service_CandD</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <formulas>
        <description>Calculated DM Form for BK Atty rep - depends on whether a case is identified or not</description>
        <name>BK_DM_Number</name>
        <dataType>Number</dataType>
        <expression>IF({!BK_Case_Number}=&quot;&quot;,3428,4042)</expression>
        <scale>0</scale>
    </formulas>
    <label>Cease &amp; Desist</label>
    <processType>Flow</processType>
    <screens>
        <name>Attorney_Representation_BK_Option</name>
        <label>Attorney Representation - BK</label>
        <locationX>482</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Attorney_Representation_BK_SR</targetReference>
        </connector>
        <fields>
            <name>AttorneyRepresentationBKHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Attorney Representation - BK&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Do not make any demand for payment or return of vehicle&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BK_Case_Number</name>
            <dataType>String</dataType>
            <fieldText>Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BK_Chapter</name>
            <dataType>String</dataType>
            <fieldText>Chapter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BK_Filing_Location</name>
            <dataType>String</dataType>
            <fieldText>Filing Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BK_Filing_Date</name>
            <dataType>Date</dataType>
            <fieldText>Filing Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AttorneyInformation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;hr/&gt;&lt;B&gt;Attorney Information&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Atty_Name_BK</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Atty_Address_BK</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Atty_Phone_BK</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BK_Status</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vBKStatus</elementReference>
            </defaultValue>
            <fieldText>BK Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TODO_ABK</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Clicking Next submits activities and service requests&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Attorney_Representation_Non_BK_screen</name>
        <label>Attorney Representation - Non-BK screen</label>
        <locationX>485</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Attorney_Representation_Non_BK_SR</targetReference>
        </connector>
        <fields>
            <name>AttorneyRepresentationNonBKHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Attorney Representation - Non-BK&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Clarifying Questions:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Why did you retain an Attorney&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Did you retain an attorney with respect to your debt with TFS&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Confirmation and Talking Points&lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt; - For Auth&amp;apos;d Party Only&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mr/Mrs Customer, I want to confirm that you retained an attorney with respect to your debt with TFS. Is this correct?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;TFS will cease all direct communications with you and only commuicate with your Attorney going forward.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This may take 24 hours to update and you may receive calls during this time period&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Attorney Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Atty_Name_NBK</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Atty_Address_NBK</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Atty_Phone_NBK</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TODO_ANBK</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Clicking Next submits activities and service requests&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Cease_and_Desist_Scren</name>
        <label>Cease and Desist Confirmation</label>
        <locationX>482</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Cease_and_Desist_Confirmation_SR</targetReference>
        </connector>
        <fields>
            <name>CeaseandDesistHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cease and Desist Confirmation&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     Mr/Mrs Customer, I want to confirm that you are requesting we cease all the communication with you. Is this correct?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cease and Desist Talking Points&lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt; - For Auth&amp;apos;d Party Only&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    TFS will cease communication as requested&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    Collection efforts will continue, including legally required notices such as:&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    Pre-repossession notices (Right to Cure)&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    Post-repossession notices (Rights Letter)&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    Access to ToyotaFinancial.com /    LexusFinancial.com will be revoked&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    You will still have an option to register or re-register your account on the website by agreeing to terms &amp;amp; conditions of the website&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    By agreeing to terms &amp;amp; conditions you may receive marketing communications&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    May take 24 hours to update your request and you may receive calls during this period&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    You will receive a letter confirming your request&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Clicking Next submits activities and service requests&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Invalid_Account</name>
        <label>Invalid Account</label>
        <locationX>249</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <fields>
            <name>InvalidAccountConfig</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Invalid Account Configuration&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The provided account does not have a valid configuration to run the Cease &amp;amp; Desist flow. A possible cause is missing associated borrowers. If root cause is unclear, contact your management or technical resources to help troubleshoot.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Limited_Commuication_WO_Screen2</name>
        <label>Limited Commuication - WO Screen2</label>
        <locationX>483</locationX>
        <locationY>17</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>LimitedCommunicationWO_SR</targetReference>
        </connector>
        <fields>
            <name>LimitedCommunicationWOHeader222</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Limited Communication Writing Only&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LimitedCommunicationWOHeader22</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;B&gt;Clarification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mr/Mrs Customer, I want to confirm we are to only contact you by written communication. Is that correct?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Talking Points - For Auth&amp;apos;d Party Only&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;TFS will honor your request&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Collection efforts will not stop on delinquent accounts&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Our Goal is to partner with you on resolving any issues&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Without contact from TFS, you could miss an opportunity to take advantage of various programs that may help resolve delinquency of account&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;May take 24 hours to update request and may receive call during this time period&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You will receive a letter confirming the request&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Clicking Next submits activities and service requests&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Limited_Communication_CS_Only</name>
        <label>Limited Communication CS Only</label>
        <locationX>481</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Limited_Communication_Confirmation_PO_BO_SR</targetReference>
        </connector>
        <fields>
            <name>LimitedCommunicationCSOnlyHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Limited Communication  Phones Only&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Which numbers are limited?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Borrower1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Borrower : Garage&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_PhoneB1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Home_Phone_DNC_Garage_B</elementReference>
            </defaultValue>
            <fieldText>Home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_PhoneB1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Work_Phone_DNC_Garage_B</elementReference>
            </defaultValue>
            <fieldText>Work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_PhoneB1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Mobile_Phone_DNC_B</elementReference>
            </defaultValue>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BorrowerBilling1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;HR/&gt;&lt;B&gt;Borrower: Billing (Lease Only)&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_Phone_B1Billing</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Home_Phone_DNC_BillTo_B</elementReference>
            </defaultValue>
            <fieldText>Home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Phone_B1Billing</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Work_Phone_DNC_BillTo_B</elementReference>
            </defaultValue>
            <fieldText>Work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LimitedCommunicationCSOnlyDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Is there another number you can be reached at?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;How would you like us to contact you?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mr/Mrs Customer, I want to confirm we are to stop calling your work number. Is that correct? Are there additional numbers that we cannot call.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mr/Mrs Customer,  I want to confirm we are to only contact you by written communication. Is that correct?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Talking Points&lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt; - For Auth&amp;apos;d Party Only&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;TFS will honor your request&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Collection efforts will not stop on delinquent accounts&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Our Goal is to partner with you on resolving any issues&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Without contact from TFS, you could miss an opportunity to take advantage of various programs that may help resolve delinquency of account&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;May take 24 hours to update request and may receive call during this time period&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You will receive a letter confirming the request&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Clicking Next submits activities and service requests&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Limited_Communication_Screen</name>
        <label>Limited Communication Confirmation</label>
        <locationX>481</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Limited_Communication_Confirmation_PO_SR</targetReference>
        </connector>
        <fields>
            <name>LimitedCommunicationPhonesOnly1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Limited Communication  Phones Only&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Which numbers are limited?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Borrower</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Borrower : Garage&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_PhoneB</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Home_Phone_DNC_Garage_B</elementReference>
            </defaultValue>
            <fieldText>Home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_PhoneB</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Work_Phone_DNC_Garage_B</elementReference>
            </defaultValue>
            <fieldText>Work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_PhoneB</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Mobile_Phone_DNC_B</elementReference>
            </defaultValue>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BorrowerBillling</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;HR/&gt;&lt;B&gt;Borrower : Billing (Lease Only)&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_Phone_BBilling</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Home_Phone_DNC_BillTo_B</elementReference>
            </defaultValue>
            <fieldText>Home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Phone_BBilling</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Work_Phone_DNC_BillTo_B</elementReference>
            </defaultValue>
            <fieldText>Work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BorrowerSep</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;hr/&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CoBorrower</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Co-Borrower : Garage&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_PhoneCOB</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Home_Phone_DNC_Garage_B</elementReference>
            </defaultValue>
            <fieldText>Home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_PhoneCOB</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Work_Phone_DNC_Garage_CB</elementReference>
            </defaultValue>
            <fieldText>Work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_PhoneCOB</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Mobile_Phone_DNC_CB</elementReference>
            </defaultValue>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CoBorrowerBilliing</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;HR/&gt;&lt;B&gt;Co-Borrower : Billing (Lease Only)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_phone_COB_Billing</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Home_Phone_DNC_BillTo_CB</elementReference>
            </defaultValue>
            <fieldText>Home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Phone_COB_Billing</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vFlag_Work_Phone_DNC_BillTo_CB</elementReference>
            </defaultValue>
            <fieldText>Work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LimitedCommunicationScreenHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Is there another number you can be reached at?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;How would you like us to contact you?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mr/Mrs Customer, I want to confirm we are to stop calling your work number. Is that correct? Are there additional numbers that we cannot call.&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mr/Mrs Customer,  I want to confirm we are to only contact you by written communication. Is that correct?&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Talking Points&lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt; - For Auth&amp;apos;d Party Only&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;TFS will honor your request&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Collection efforts will not stop on delinquent accounts&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Our Goal is to partner with you on resolving any issues&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Without contact from TFS, you could miss an opportunity to take advantage of various programs that may help resolve delinquency of account&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;May take 24 hours to update request and may receive call during this time period&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You will receive a letter confirming the request&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Clicking Next submits activities and service requests&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Service_Request_Completed</name>
        <label>Service Request Completed</label>
        <locationX>1015</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <fields>
            <name>ServiceCompletedHeader</name>
            <fieldText>Service Request Completed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputAccountId</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!URLInputAccountID}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You must submit DM Form: {!vDMNumberText}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR/&gt;&lt;BR/&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Activity Code has been submitted and saved: {!vActivityCode}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vTaskDesc}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Toyota_Finanicial_Service_CandD</name>
        <label>Toyota Financial Services - C&amp;D</label>
        <locationX>39</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
        <fields>
            <name>Clarifying_Questions</name>
            <choiceReferences>Limited_Communication</choiceReferences>
            <choiceReferences>Limited_Communication_WO</choiceReferences>
            <choiceReferences>Cease_and_Desist</choiceReferences>
            <choiceReferences>Attorney_Representation_BK</choiceReferences>
            <choiceReferences>Attorney_Representation_Non_BK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Clarifying Questions&lt;FONT STYLE=&quot;font-size:14px&quot; COLOR=&quot;#0033FF&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FlowInputAccountId2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;LC - PO : Limited Communication for Specific Phone #s&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;LC - WO: Limited Communication Written Only&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Atty Rep: Attorney Representation&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;BK: Bankruptcy&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Financial_Account_Data</startElementReference>
    <variables>
        <name>AllPhonesInStarsToDNC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All Phones in Stars to DNC</stringValue>
        </value>
    </variables>
    <variables>
        <description>Current Home Phone Borrower DNC Flag</description>
        <name>CurrentHomePhoneB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowInputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URLInputAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UrlInputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vActivityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBKStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDMNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vDMNumberText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vElection_Overall_Consent_B</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vElection_Overall_Consent_CB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Home_Phone_DNC_BillTo_B</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Home_Phone_DNC_BillTo_CB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Home_Phone_DNC_Garage_B</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Home_Phone_DNC_Garage_CB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Mobile_Phone_DNC_B</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Mobile_Phone_DNC_CB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Work_Phone_DNC_BillTo_B</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Work_Phone_DNC_BillTo_CB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Work_Phone_DNC_Garage_B</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlag_Work_Phone_DNC_Garage_CB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNumAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vParamAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTaskDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vValidAccountNumber</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
