flows/Change_Control_resume_Case-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Write_Collection</name>
        <label>Add to Write Collection</label>
        <locationX>164</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>scWriteCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sWriteChildCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>104</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>sWriteChildCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Write_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>543</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>sParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sParentCase.KM_PreHold_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_current_status</name>
        <label>Check current status</label>
        <locationX>285</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Display_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not On Hold</defaultConnectorLabel>
        <rules>
            <name>Is_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Pre_Hold_Status</targetReference>
            </connector>
            <label>Is On Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pre_Hold_Status</name>
        <label>Check Pre Hold Status</label>
        <locationX>400</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Frontend Approved or Backend Status</defaultConnectorLabel>
        <rules>
            <name>Submitted_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_PreHold_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Open_Child_Cases</targetReference>
            </connector>
            <label>Submitted for Approval</label>
        </rules>
    </decisions>
    <description>Change control flow to resume case if on Hold</description>
    <label>Change Control - resume Case</label>
    <loops>
        <name>Loop_Child_Cases</name>
        <label>Loop Child Cases</label>
        <locationX>312</locationX>
        <locationY>549</locationY>
        <assignNextValueToReference>sWriteChildCase</assignNextValueToReference>
        <collectionReference>sOpenChildCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Case_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Write_Child_Cases_Back</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Open_Child_Cases</name>
        <label>Lookup Open Child Cases</label>
        <locationX>310</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Cases</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sOpenChildCases</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_case</name>
        <label>Lookup Parent case</label>
        <locationX>291</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_current_status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sParentCase</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>KM_PreHold_Status__c</queriedFields>
        <queriedFields>KM_FOPP_Impact__c</queriedFields>
        <queriedFields>KM_Impact__c</queriedFields>
        <queriedFields>KM_Systems_Impact__c</queriedFields>
        <queriedFields>KM_Training_Impact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Case1</name>
        <label>Update Parent Case</label>
        <locationX>539</locationX>
        <locationY>959</locationY>
        <inputReference>sParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Write_Child_Cases_Back</name>
        <label>Write Child Cases Back</label>
        <locationX>388</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>Update_Parent_Case</targetReference>
        </connector>
        <inputReference>scWriteCases</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>163</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Only a cse On Hold can be resumed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Parent_case</startElementReference>
    <variables>
        <name>scWriteCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sOpenChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sWriteChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
