flows/Change_Control_On_Hold-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Case_Comment_0</name>
        <label>Add Case Comment</label>
        <locationX>343</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>sCaseComment.CommentBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Case status was updated because Parent case status changed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCaseComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sChildCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Comment_to_Write_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_to_Write_Collection_0</name>
        <label>Add Case to Write Collection</label>
        <locationX>196</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>scWriteCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sChildCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Cases_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comment_to_Write_collection_0</name>
        <label>Add Comment to Write collection</label>
        <locationX>343</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>scCaseComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sCaseComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Write_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Write_parent_Case</name>
        <label>Initiate Write parent Case</label>
        <locationX>446</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vParentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Child_Case_Status</name>
        <label>Update Child Case Status</label>
        <locationX>341</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>sChildCases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Comment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>452</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sWriteParentCase.KM_PreHold_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vParentCase.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_current_status</name>
        <label>Check current status</label>
        <locationX>455</locationX>
        <locationY>453</locationY>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Submitted_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_Open_Children_Cases</targetReference>
            </connector>
            <label>Submitted for Approval</label>
        </rules>
        <rules>
            <name>Backend_processing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted to Backend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM Changes Approved</stringValue>
                </rightValue>
            </conditions>
            <label>Backend processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Child_Cases_Found</name>
        <label>Check if Child Cases Found</label>
        <locationX>192</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Cases_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scChildCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>This flow in invoked from Hold Case button for Change Control Case. 
If Parent case status is &quot;Submitted for Approval&quot; then change status of all open child cases to &quot;On Hold&quot;. 
If parent case status is Submitted to Backend or KM Changes approved then send email to all about On Hold
Also store the current case status in Prior Status field</description>
    <label>Change Control - On Hold</label>
    <loops>
        <name>Loop_Child_Cases_0</name>
        <label>Loop Child Cases</label>
        <locationX>192</locationX>
        <locationY>744</locationY>
        <assignNextValueToReference>sChildCases</assignNextValueToReference>
        <collectionReference>scChildCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Child_Case_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Comments</name>
        <label>Create Case Comments</label>
        <locationX>37</locationX>
        <locationY>991</locationY>
        <inputReference>scCaseComments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_all_Open_Children_Cases</name>
        <label>Find all Open Children Cases</label>
        <locationX>193</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Child_Cases_Found</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>scChildCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Case</name>
        <label>Lookup Parent Case</label>
        <locationX>444</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initiate_Write_parent_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vParentCase</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>KM_FOPP_Impact__c</queriedFields>
        <queriedFields>KM_Impact__c</queriedFields>
        <queriedFields>KM_Systems_Impact__c</queriedFields>
        <queriedFields>KM_Training_Impact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Cases</name>
        <label>Update Child Cases</label>
        <locationX>41</locationX>
        <locationY>883</locationY>
        <connector>
            <targetReference>Create_Case_Comments</targetReference>
        </connector>
        <inputReference>scWriteCases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case1</name>
        <label>Update Parent Case</label>
        <locationX>452</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Check_current_status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>display_Error</targetReference>
        </faultConnector>
        <inputReference>sWriteParentCase</inputReference>
    </recordUpdates>
    <screens>
        <name>display_Error</name>
        <label>display Error</label>
        <locationX>620</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Error</name>
            <fieldText>Error: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Parent_Case</startElementReference>
    <variables>
        <name>sCaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>scCaseComments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>scChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>scWriteCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sWriteParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500S0000005LzQV</stringValue>
        </value>
    </variables>
    <variables>
        <name>vParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed - Cancelled</stringValue>
        </value>
    </variables>
</Flow>
