flows/Change_Control_Update_Approver_List-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Parent_Case_Approval_Count</name>
        <label>Update Parent Case Approval Count</label>
        <locationX>411</locationX>
        <locationY>2017</locationY>
        <assignmentItems>
            <assignToReference>ParentCase.KM_approval_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Compliance_Impact</name>
        <choiceText>Compliance Impact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance Impact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scorecard</name>
        <choiceText>Scorecard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scorecard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Systems_Project</name>
        <choiceText>Systems Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Systems Project</stringValue>
        </value>
    </choices>
    <constants>
        <name>cBand5QueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Band5</stringValue>
        </value>
    </constants>
    <constants>
        <name>cChildCaseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Control Approval</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please approve change control case. To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</description>
        <name>cDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</stringValue>
        </value>
    </constants>
    <constants>
        <name>cEntCompQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enterprise Compliance</stringValue>
        </value>
    </constants>
    <constants>
        <name>cHRQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HR</stringValue>
        </value>
    </constants>
    <constants>
        <name>cLegalQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please approve Change Request</description>
        <name>cSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please approve Change Request by Approval Target Date</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTreasuryQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Treasury</stringValue>
        </value>
    </constants>
    <constants>
        <name>vAdministrationQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Administration</stringValue>
        </value>
    </constants>
    <constants>
        <name>vBTSQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BTS</stringValue>
        </value>
    </constants>
    <constants>
        <name>vCollectionsQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections</stringValue>
        </value>
    </constants>
    <constants>
        <name>vCustServQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </constants>
    <constants>
        <name>vFieldServicesQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Field Services</stringValue>
        </value>
    </constants>
    <constants>
        <name>vICUQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ICU</stringValue>
        </value>
    </constants>
    <constants>
        <name>vInsuranceQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance</stringValue>
        </value>
    </constants>
    <constants>
        <name>vLoyaltyQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Loyalty</stringValue>
        </value>
    </constants>
    <constants>
        <name>vSOComplianceQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SO Compliance</stringValue>
        </value>
    </constants>
    <constants>
        <name>vVendorManagementQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Management</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Administration_Approval</name>
        <label>Check Administration Approval</label>
        <locationX>408</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Administration Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Administration_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Administration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Administration_Child_Approval</targetReference>
            </connector>
            <label>Administration Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BTS_Approval</name>
        <label>Check BTS Approval</label>
        <locationX>412</locationX>
        <locationY>1901</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BTS Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>BTS_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_BTS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BTS_Child_Approval</targetReference>
            </connector>
            <label>BTS Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Priority</name>
        <label>Check Case Priority</label>
        <locationX>408</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not urgent</defaultConnectorLabel>
        <rules>
            <name>Urgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgent - Override</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Band5_Child_Approval</targetReference>
            </connector>
            <label>Urgent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Collections_Approval</name>
        <label>Check Collections Approval</label>
        <locationX>411</locationX>
        <locationY>1102</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collections Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Collections_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Collections__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collections_Child_Approval</targetReference>
            </connector>
            <label>Collections Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Cust_Serv_Approval</name>
        <label>Check Cust Serv Approval</label>
        <locationX>409</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cust Serv Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Cust_Serv_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Customer_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cust_Serv_Child_Approval</targetReference>
            </connector>
            <label>Cust Serv Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ent_Compliance_Approval</name>
        <label>Check Ent Compliance Approval</label>
        <locationX>411</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ent Comp Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Ent_Comp_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Enterprise_Complaince__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ent_Comp_Child_Approval</targetReference>
            </connector>
            <label>Ent Comp Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Field_Services_Approval</name>
        <label>Check Field Services Approval</label>
        <locationX>410</locationX>
        <locationY>1449</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Field Services Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Field_Services_Field_Services_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Field_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Field_Services_Child_Approval</targetReference>
            </connector>
            <label>Field Services Field Services Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HR_Approval</name>
        <label>Check HR Approval</label>
        <locationX>409</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HR Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>HR_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_HR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_HR_Child_Approval</targetReference>
            </connector>
            <label>HR Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ICU_Approval</name>
        <label>Check ICU Approval</label>
        <locationX>412</locationX>
        <locationY>1215</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ICU Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>ICU_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_ICU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ICU_Child_Approval</targetReference>
            </connector>
            <label>ICU Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Insurance_Approval</name>
        <label>Check Insurance Approval</label>
        <locationX>412</locationX>
        <locationY>1336</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insurance Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Insurance_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Insurance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Insurance_Child_Approval</targetReference>
            </connector>
            <label>Insurance Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Legal_Approval</name>
        <label>Check Legal Approval</label>
        <locationX>411</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Legal Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Legal_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Legal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Legal_Child_Approval</targetReference>
            </connector>
            <label>Legal Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Loyalty_Approval</name>
        <label>Check Loyalty Approval</label>
        <locationX>409</locationX>
        <locationY>1564</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loyalty Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Loyalty_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Loyalty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Loyalty_Child_Approval</targetReference>
            </connector>
            <label>Loyalty Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SO_Compliance_Approval</name>
        <label>Check SO Compliance Approval</label>
        <locationX>410</locationX>
        <locationY>1675</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SO Compliance Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>SO_Compliance_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_SO_Compliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SO_Compliance_Child_Approval</targetReference>
            </connector>
            <label>SO Compliance Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Treasury_Approval</name>
        <label>Check Treasury Approval</label>
        <locationX>407</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Treasury Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Treasury_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Treasury__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Treasury_Child_Approval</targetReference>
            </connector>
            <label>Treasury Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vendor_Management_Approval</name>
        <label>Check Vendor Management Approval</label>
        <locationX>413</locationX>
        <locationY>1785</locationY>
        <defaultConnector>
            <targetReference>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vendor Management Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Vendor_Management_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Vendor_Management__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vendor_Management_Child_Approval</targetReference>
            </connector>
            <label>Vendor Management Approval Needed</label>
        </rules>
    </decisions>
    <description>This flow is a Subflow and will be call from main Change Control Flow if the case was resubmitted due to change in approver list</description>
    <formulas>
        <name>vChangeDue</name>
        <dataType>Number</dataType>
        <expression>{!ParentCase.KM_Implementation_Date__c} - Now()</expression>
        <scale>0</scale>
    </formulas>
    <label>Change Control - Update Approver List</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Chage_Control_Approval_Record_Type</name>
        <label>Lookup Chage Control Approval Record Type</label>
        <locationX>409</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Child_Open_cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cChildCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vChildCaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Child_Open_cases</name>
        <label>Lookup Child Open cases</label>
        <locationX>409</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Priority</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vcChildOpenCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>779</locationX>
        <locationY>2007</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <inputReference>ParentCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Error_0</name>
        <label>Display Error</label>
        <locationX>591</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Error_0</name>
            <fieldText>{!$Flow.FaultMessage}

Id = {!sHRGroup.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Flow</name>
        <label>Finish Flow</label>
        <locationX>936</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>DisplayFinish</name>
            <fieldText>All related Approvals have been created for this Change Control Case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Chage_Control_Approval_Record_Type</startElementReference>
    <subflows>
        <name>Create_Administration_Child_Approval</name>
        <label>Create Administration Child Approval</label>
        <locationX>776</locationX>
        <locationY>883</locationY>
        <connector>
            <targetReference>Check_Cust_Serv_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vAdministrationQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Band5_Child_Approval</name>
        <label>Create Band5 Child Approval</label>
        <locationX>609</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Check_HR_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cBand5QueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCaseType</name>
            <value>
                <stringValue>Band5 Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_BTS_Child_Approval</name>
        <label>Create BTS Child Approval</label>
        <locationX>773</locationX>
        <locationY>1913</locationY>
        <connector>
            <targetReference>Update_Parent_Case_Approval_Count</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vBTSQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Collections_Child_Approval</name>
        <label>Create Collections Child Approval</label>
        <locationX>769</locationX>
        <locationY>1114</locationY>
        <connector>
            <targetReference>Check_ICU_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vCollectionsQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Cust_Serv_Child_Approval</name>
        <label>Create Cust Serv Child Approval</label>
        <locationX>773</locationX>
        <locationY>1000</locationY>
        <connector>
            <targetReference>Check_Collections_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vCustServQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Ent_Comp_Child_Approval</name>
        <label>Create Ent Comp Child Approval</label>
        <locationX>771</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>Check_Legal_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cEntCompQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Field_Services_Child_Approval</name>
        <label>Create Field Services Child Approval</label>
        <locationX>773</locationX>
        <locationY>1452</locationY>
        <connector>
            <targetReference>Check_Loyalty_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vFieldServicesQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_HR_Child_Approval</name>
        <label>Create HR Child Approval</label>
        <locationX>747</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Check_Ent_Compliance_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cHRQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_ICU_Child_Approval</name>
        <label>Create ICU Child Approval</label>
        <locationX>772</locationX>
        <locationY>1232</locationY>
        <connector>
            <targetReference>Check_Insurance_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vICUQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Insurance_Child_Approval</name>
        <label>Create Insurance Child Approval</label>
        <locationX>768</locationX>
        <locationY>1352</locationY>
        <connector>
            <targetReference>Check_Field_Services_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vInsuranceQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Legal_Child_Approval</name>
        <label>Create Legal Child Approval</label>
        <locationX>772</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>Check_Treasury_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cLegalQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Loyalty_Child_Approval</name>
        <label>Create Loyalty Child Approval</label>
        <locationX>778</locationX>
        <locationY>1585</locationY>
        <connector>
            <targetReference>Check_SO_Compliance_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vLoyaltyQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_SO_Compliance_Child_Approval</name>
        <label>Create SO Compliance Child Approval</label>
        <locationX>777</locationX>
        <locationY>1683</locationY>
        <connector>
            <targetReference>Check_Vendor_Management_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vSOComplianceQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Treasury_Child_Approval</name>
        <label>Create Treasury Child Approval</label>
        <locationX>776</locationX>
        <locationY>749</locationY>
        <connector>
            <targetReference>Check_Administration_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cTreasuryQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Vendor_Management_Child_Approval</name>
        <label>Create Vendor Management Child Approval</label>
        <locationX>780</locationX>
        <locationY>1803</locationY>
        <connector>
            <targetReference>Check_BTS_Approval</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vVendorManagementQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case</name>
        <label>Update Band5 approval case</label>
        <locationX>194</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Check_HR_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cBand5QueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0</name>
        <label>Update Band5 approval case</label>
        <locationX>134</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Check_Ent_Compliance_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cHRQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>97</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Check_Legal_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cEntCompQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>108</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>Check_Treasury_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cLegalQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>106</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Check_Administration_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cTreasuryQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>68</locationX>
        <locationY>877</locationY>
        <connector>
            <targetReference>Check_Cust_Serv_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vAdministrationQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>83</locationX>
        <locationY>993</locationY>
        <connector>
            <targetReference>Check_Collections_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vCustServQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>90</locationX>
        <locationY>1101</locationY>
        <connector>
            <targetReference>Check_ICU_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vCollectionsQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>88</locationX>
        <locationY>1220</locationY>
        <connector>
            <targetReference>Check_Insurance_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vICUQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>93</locationX>
        <locationY>1350</locationY>
        <connector>
            <targetReference>Check_Field_Services_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vInsuranceQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>69</locationX>
        <locationY>1457</locationY>
        <connector>
            <targetReference>Check_Loyalty_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vFieldServicesQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>71</locationX>
        <locationY>1570</locationY>
        <connector>
            <targetReference>Check_SO_Compliance_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vLoyaltyQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>73</locationX>
        <locationY>1678</locationY>
        <connector>
            <targetReference>Check_Vendor_Management_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vSOComplianceQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>47</locationX>
        <locationY>1785</locationY>
        <connector>
            <targetReference>Check_BTS_Approval</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vVendorManagementQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Band5_approval_case_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Band5 approval case</label>
        <locationX>69</locationX>
        <locationY>1906</locationY>
        <connector>
            <targetReference>Update_Parent_Case_Approval_Count</targetReference>
        </connector>
        <flowName>KM_Cancel_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vBTSQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vApprovalCount</assignToReference>
            <name>vApprovalCount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sHRGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>vApprovalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>500S0000007JJrM</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Control</stringValue>
        </value>
    </variables>
    <variables>
        <name>vcChildOpenCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vChildCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChildCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChildCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vcUpdatedChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vHR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHRGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLegal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vsChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
