flows/Change_Control_Approval_New-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_case_to_write_collection</name>
        <label>Add case to write collection</label>
        <locationX>108</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>vcUpdatedChildCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vsChildCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count</name>
        <label>Increase Approval Count</label>
        <locationX>872</locationX>
        <locationY>940</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Ent_Compliance_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0</name>
        <label>Increase Approval Count</label>
        <locationX>975</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Legal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>981</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Treasury_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>977</locationX>
        <locationY>1328</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Administration_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>970</locationX>
        <locationY>1426</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Cust_Serv_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>967</locationX>
        <locationY>1534</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Collections_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>965</locationX>
        <locationY>1636</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ICU_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>966</locationX>
        <locationY>1735</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Insurance_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>966</locationX>
        <locationY>1840</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Field_Services_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>967</locationX>
        <locationY>1949</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Loyalty_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>967</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SO_Compliance_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>966</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Vendor_Management_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>975</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_BTS_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Increase Approval Count</label>
        <locationX>978</locationX>
        <locationY>2396</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_number_of_approvals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Approval_Count_1</name>
        <label>Increase Approval Count</label>
        <locationX>558</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_HR_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_in_loop</name>
        <label>Update Case Status in loop</label>
        <locationX>0</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>vsChildCases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed - Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_case_to_write_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_Approval_Count</name>
        <label>Update Parent Case Approval Count</label>
        <locationX>427</locationX>
        <locationY>2636</locationY>
        <assignmentItems>
            <assignToReference>ParentCase.KM_approval_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vApprovalCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Compliance_Impact</name>
        <choiceText>Compliance Impact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance Impact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scorecard</name>
        <choiceText>Scorecard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scorecard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Systems_Project</name>
        <choiceText>Systems Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Systems Project</stringValue>
        </value>
    </choices>
    <constants>
        <name>cBand5QueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Band5</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please approve change control case. To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</description>
        <name>cDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</stringValue>
        </value>
    </constants>
    <constants>
        <name>cEntCompQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enterprise Compliance</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChildCaseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Control Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>cHRQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HR</stringValue>
        </value>
    </constants>
    <constants>
        <name>cLegalQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please approve Change Request</description>
        <name>cSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please approve Change Request by Approval Target Date</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTreasuryQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Treasury</stringValue>
        </value>
    </constants>
    <constants>
        <name>vAdministrationQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Administration</stringValue>
        </value>
    </constants>
    <constants>
        <name>vBTSQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BTS</stringValue>
        </value>
    </constants>
    <constants>
        <name>vCollectionsQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections</stringValue>
        </value>
    </constants>
    <constants>
        <name>vCustServQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </constants>
    <constants>
        <name>vFieldServicesQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Field Services</stringValue>
        </value>
    </constants>
    <constants>
        <name>vICUQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ICU</stringValue>
        </value>
    </constants>
    <constants>
        <name>vInsuranceQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance</stringValue>
        </value>
    </constants>
    <constants>
        <name>vLoyaltyQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Loyalty</stringValue>
        </value>
    </constants>
    <constants>
        <name>vSOComplianceQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SO Compliance</stringValue>
        </value>
    </constants>
    <constants>
        <name>vVendorManagementQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Management</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Administration_Approval</name>
        <label>Check Administration Approval</label>
        <locationX>425</locationX>
        <locationY>1434</locationY>
        <defaultConnector>
            <targetReference>Check_Cust_Serv_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Administration Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Administration_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Administration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Administration_Child_Approval</targetReference>
            </connector>
            <label>Administration Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BTS_Approval</name>
        <label>Check BTS Approval</label>
        <locationX>425</locationX>
        <locationY>2400</locationY>
        <defaultConnector>
            <targetReference>Check_number_of_approvals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BTS Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>BTS_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_BTS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BTS_Child_Approval</targetReference>
            </connector>
            <label>BTS Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Priority</name>
        <label>Check Case Priority</label>
        <locationX>410</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Check_HR_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not urgent</defaultConnectorLabel>
        <rules>
            <name>Urgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgent - Override</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Band5_Child_Approval</targetReference>
            </connector>
            <label>Urgent</label>
        </rules>
        <rules>
            <name>Cosmetic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosmetic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_KM_queue_ID</targetReference>
            </connector>
            <label>Cosmetic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Collections_Approval</name>
        <label>Check Collections Approval</label>
        <locationX>423</locationX>
        <locationY>1640</locationY>
        <defaultConnector>
            <targetReference>Check_ICU_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collections Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Collections_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Collections__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collections_Child_Approval</targetReference>
            </connector>
            <label>Collections Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Cust_Serv_Approval</name>
        <label>Check Cust Serv Approval</label>
        <locationX>424</locationX>
        <locationY>1539</locationY>
        <defaultConnector>
            <targetReference>Check_Collections_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cust Serv Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Cust_Serv_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Customer_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cust_Serv_Child_Approval</targetReference>
            </connector>
            <label>Cust Serv Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ent_Compliance_Approval</name>
        <label>Check Ent Compliance Approval</label>
        <locationX>429</locationX>
        <locationY>1131</locationY>
        <defaultConnector>
            <targetReference>Check_Legal_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ent Comp Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Ent_Comp_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Enterprise_Complaince__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ent_Comp_Child_Approval</targetReference>
            </connector>
            <label>Ent Comp Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Field_Services_Approval</name>
        <label>Check Field Services Approval</label>
        <locationX>424</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Check_Loyalty_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Field Services Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Field_Services_Field_Services_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Field_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Field_Services_Child_Approval</targetReference>
            </connector>
            <label>Field Services Field Services Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HR_Approval</name>
        <label>Check HR Approval</label>
        <locationX>422</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>Check_Ent_Compliance_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HR Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>HR_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_HR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_HR_Child_Approval</targetReference>
            </connector>
            <label>HR Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ICU_Approval</name>
        <label>Check ICU Approval</label>
        <locationX>426</locationX>
        <locationY>1741</locationY>
        <defaultConnector>
            <targetReference>Check_Insurance_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ICU Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>ICU_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_ICU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ICU_Child_Approval</targetReference>
            </connector>
            <label>ICU Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_is_Closed</name>
        <label>Check if Case is Closed</label>
        <locationX>132</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>Lookup_Case_Owner_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Child_Open_Cases_Found</name>
        <label>Check if Child Open Cases Found</label>
        <locationX>212</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vcChildOpenCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Priority</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Insurance_Approval</name>
        <label>Check Insurance Approval</label>
        <locationX>423</locationX>
        <locationY>1846</locationY>
        <defaultConnector>
            <targetReference>Check_Field_Services_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insurance Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Insurance_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Insurance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Insurance_Child_Approval</targetReference>
            </connector>
            <label>Insurance Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Legal_Approval</name>
        <label>Check Legal Approval</label>
        <locationX>426</locationX>
        <locationY>1234</locationY>
        <defaultConnector>
            <targetReference>Check_Treasury_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Legal Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Legal_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Legal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Legal_Child_Approval</targetReference>
            </connector>
            <label>Legal Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Loyalty_Approval</name>
        <label>Check Loyalty Approval</label>
        <locationX>424</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Check_SO_Compliance_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loyalty Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Loyalty_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Loyalty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Loyalty_Child_Approval</targetReference>
            </connector>
            <label>Loyalty Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_number_of_approvals</name>
        <label>Check number of approvals</label>
        <locationX>423</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Case_Approval_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approvals Selected</defaultConnectorLabel>
        <rules>
            <name>No_Approvals_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vApprovalCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_approvers_selected</targetReference>
            </connector>
            <label>No Approvals selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_Type</name>
        <label>Check Owner Type</label>
        <locationX>419</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Lookup_Chage_Control_Approval_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOwnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_to_Submitter</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SO_Compliance_Approval</name>
        <label>Check SO Compliance Approval</label>
        <locationX>421</locationX>
        <locationY>2170</locationY>
        <defaultConnector>
            <targetReference>Check_Vendor_Management_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SO Compliance Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>SO_Compliance_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_SO_Compliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SO_Compliance_Child_Approval</targetReference>
            </connector>
            <label>SO Compliance Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Treasury_Approval</name>
        <label>Check Treasury Approval</label>
        <locationX>424</locationX>
        <locationY>1333</locationY>
        <defaultConnector>
            <targetReference>Check_Administration_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Treasury Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Treasury_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Treasury__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Treasury_Child_Approval</targetReference>
            </connector>
            <label>Treasury Approval Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vendor_Management_Approval</name>
        <label>Check Vendor Management Approval</label>
        <locationX>423</locationX>
        <locationY>2285</locationY>
        <defaultConnector>
            <targetReference>Check_BTS_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vendor Management Approval Not Needed</defaultConnectorLabel>
        <rules>
            <name>Vendor_Management_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.KM_Vendor_Management__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vendor_Management_Child_Approval</targetReference>
            </connector>
            <label>Vendor Management Approval Needed</label>
        </rules>
    </decisions>
    <description>This flow is used when case status is New or In Progress or Closed</description>
    <formulas>
        <name>vChangeDue</name>
        <dataType>Number</dataType>
        <expression>{!ParentCase.KM_Implementation_Date__c} - Now()</expression>
        <scale>0</scale>
    </formulas>
    <label>Change Control Approval - New</label>
    <loops>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>122</locationX>
        <locationY>618</locationY>
        <assignNextValueToReference>vsChildCases</assignNextValueToReference>
        <collectionReference>vcChildOpenCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Case_Status_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Case_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Case_Owner_Type</name>
        <label>Lookup Case Owner Type</label>
        <locationX>409</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Owner_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCase.OwnerId</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vOwnerType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Chage_Control_Approval_Record_Type</name>
        <label>Lookup Chage Control Approval Record Type</label>
        <locationX>408</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Child_Open_cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vChildCaseRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Child_Open_cases</name>
        <label>Lookup Child Open cases</label>
        <locationX>147</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Child_Open_Cases_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vcChildOpenCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_KM_queue_ID</name>
        <label>Lookup KM queue ID</label>
        <locationX>659</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parent_Case_Owner</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vKMQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Case</name>
        <label>Lookup Parent Case</label>
        <locationX>408</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_is_Closed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ParentCase</outputReference>
        <queriedFields>KM_HR__c</queriedFields>
        <queriedFields>KM_Administration__c</queriedFields>
        <queriedFields>KM_BTS__c</queriedFields>
        <queriedFields>KM_Collections__c</queriedFields>
        <queriedFields>KM_Customer_Service__c</queriedFields>
        <queriedFields>KM_Enterprise_Complaince__c</queriedFields>
        <queriedFields>KM_Field_Services__c</queriedFields>
        <queriedFields>KM_ICU__c</queriedFields>
        <queriedFields>KM_Insurance__c</queriedFields>
        <queriedFields>KM_Legal__c</queriedFields>
        <queriedFields>KM_Loyalty__c</queriedFields>
        <queriedFields>KM_SO_Compliance__c</queriedFields>
        <queriedFields>KM_Treasury__c</queriedFields>
        <queriedFields>KM_Vendor_Management__c</queriedFields>
        <queriedFields>KM_Approval_Target_Date__c</queriedFields>
        <queriedFields>KM_Implementation_Date__c</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Case_Status</name>
        <label>Update Child Case Status</label>
        <locationX>195</locationX>
        <locationY>726</locationY>
        <connector>
            <targetReference>Check_Case_Priority</targetReference>
        </connector>
        <inputReference>vcUpdatedChildCases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>606</locationX>
        <locationY>2635</locationY>
        <connector>
            <targetReference>Update_Parent_Case_Status</targetReference>
        </connector>
        <inputReference>ParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Owner</name>
        <label>Update Parent Case Owner</label>
        <locationX>802</locationX>
        <locationY>671</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vKMQueueID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Status</name>
        <label>Update Parent Case Status</label>
        <locationX>769</locationX>
        <locationY>2637</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>129</locationX>
        <locationY>146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Error</name>
            <fieldText>A Closed Case cannot be submutted for Approval or Edited.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Display_Error_0</name>
        <label>Display Error</label>
        <locationX>786</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Error_0</name>
            <fieldText>{!$Flow.FaultMessage}

Id = {!sHRGroup.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Display_Error_to_Submitter</name>
        <label>Display Error to Submitter</label>
        <locationX>132</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>result_0</name>
            <fieldText>Case cannot be submitted before it is accepted from a queue. Only an user can submit a case for Approvals. Please accept the case first.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Flow</name>
        <label>Finish Flow</label>
        <locationX>924</locationX>
        <locationY>2638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>DisplayFinish</name>
            <fieldText>All related Approvals have been created for this Change Control Case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_approvers_selected</name>
        <label>No approvers selected</label>
        <locationX>210</locationX>
        <locationY>2640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>displaymessage</name>
            <fieldText>No approvers have been selected. Please either select an aprover or just submit the case for backend processing if no approvals are needed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Parent_Case</startElementReference>
    <subflows>
        <name>Create_Administration_Child_Approval</name>
        <label>Create Administration Child Approval</label>
        <locationX>819</locationX>
        <locationY>1424</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vAdministrationQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Band5_Child_Approval</name>
        <label>Create Band5 Child Approval</label>
        <locationX>489</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_1</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cBand5QueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCaseType</name>
            <value>
                <stringValue>Band5 Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_BTS_Child_Approval</name>
        <label>Create BTS Child Approval</label>
        <locationX>819</locationX>
        <locationY>2395</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vBTSQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Collections_Child_Approval</name>
        <label>Create Collections Child Approval</label>
        <locationX>818</locationX>
        <locationY>1635</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vCollectionsQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Cust_Serv_Child_Approval</name>
        <label>Create Cust Serv Child Approval</label>
        <locationX>818</locationX>
        <locationY>1534</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vCustServQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Ent_Comp_Child_Approval</name>
        <label>Create Ent Comp Child Approval</label>
        <locationX>823</locationX>
        <locationY>1126</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cEntCompQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Field_Services_Child_Approval</name>
        <label>Create Field Services Child Approval</label>
        <locationX>818</locationX>
        <locationY>1950</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vFieldServicesQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_HR_Child_Approval</name>
        <label>Create HR Child Approval</label>
        <locationX>697</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>Increase_Approval_Count</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cHRQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_ICU_Child_Approval</name>
        <label>Create ICU Child Approval</label>
        <locationX>821</locationX>
        <locationY>1736</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vICUQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Insurance_Child_Approval</name>
        <label>Create Insurance Child Approval</label>
        <locationX>818</locationX>
        <locationY>1841</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vInsuranceQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Legal_Child_Approval</name>
        <label>Create Legal Child Approval</label>
        <locationX>820</locationX>
        <locationY>1229</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cLegalQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Loyalty_Child_Approval</name>
        <label>Create Loyalty Child Approval</label>
        <locationX>818</locationX>
        <locationY>2058</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vLoyaltyQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_SO_Compliance_Child_Approval</name>
        <label>Create SO Compliance Child Approval</label>
        <locationX>815</locationX>
        <locationY>2165</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vSOComplianceQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Treasury_Child_Approval</name>
        <label>Create Treasury Child Approval</label>
        <locationX>818</locationX>
        <locationY>1328</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>cTreasuryQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Vendor_Management_Child_Approval</name>
        <label>Create Vendor Management Child Approval</label>
        <locationX>817</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>Increase_Approval_Count_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>KM_Create_Child_Approval_Case</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChildCaseRecordTypeId</name>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQueueName</name>
            <value>
                <elementReference>vVendorManagementQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPriority</name>
            <value>
                <elementReference>ParentCase.Priority</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sHRGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>vApprovalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>500S0000007JJQL</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Control</stringValue>
        </value>
    </variables>
    <variables>
        <name>vcChildOpenCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vChildCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Control Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>vcUpdatedChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vHR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHRGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vKMQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLegal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vsChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
