flows/Change_Control_Update_Child_Cases-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Case_Comment</name>
        <label>Add Case Comment</label>
        <locationX>63</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>sCaseComment.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Owner was changed as Parent Case owner was changed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCaseComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sChildCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Comment_to_Write_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_to_Write_Collection</name>
        <label>Add Case to Write Collection</label>
        <locationX>297</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>scWriteCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sChildCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comment_to_Write_collection</name>
        <label>Add Comment to Write collection</label>
        <locationX>60</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>scCaseComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sCaseComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Write_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Child_Owner_Id</name>
        <label>Update Child Owner Id</label>
        <locationX>66</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>sChildCases.KM_Parent_Case_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Comment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Change</name>
        <label>Check Change</label>
        <locationX>483</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Owner_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vChangeOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Child_Cases</targetReference>
            </connector>
            <label>Owner Change</label>
        </rules>
        <rules>
            <name>Status_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vChangeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Status Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Child_Cases_Found</name>
        <label>Check if Child Cases Found</label>
        <locationX>481</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Check_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scChildCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Change Control - WHenever Parent Case owner is updated, this flow updates all children &quot;KM Parent Case Owner&quot; field to Parent case&apos;s owner</description>
    <label>Change Control - Update Child Cases</label>
    <loops>
        <name>Loop_Child_Cases</name>
        <label>Loop Child Cases</label>
        <locationX>299</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>sChildCases</assignNextValueToReference>
        <collectionReference>scChildCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Child_Owner_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Comments</name>
        <label>Create Case Comments</label>
        <locationX>418</locationX>
        <locationY>852</locationY>
        <inputReference>scCaseComments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_all_Open_Children_Cases</name>
        <label>Find all Open Children Cases</label>
        <locationX>476</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Child_Cases_Found</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>scChildCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Cases</name>
        <label>Update Child Cases</label>
        <locationX>415</locationX>
        <locationY>746</locationY>
        <connector>
            <targetReference>Create_Case_Comments</targetReference>
        </connector>
        <inputReference>scWriteCases</inputReference>
    </recordUpdates>
    <startElementReference>Find_all_Open_Children_Cases</startElementReference>
    <variables>
        <name>sCaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>scCaseComments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>scChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>scWriteCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500S0000005M5Rk</stringValue>
        </value>
    </variables>
    <variables>
        <name>vChangeOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vChangeStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vFOPPImpact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vKMImpact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00570000002csB3</stringValue>
        </value>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed - Cancelled</stringValue>
        </value>
    </variables>
    <variables>
        <name>vSystemsImpact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTrainingImpact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
