flows/Change_Control_Update_Child_Cases_Submitted_for_Approval-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Case_Comment_0</name>
        <label>Add Case Comment</label>
        <locationX>711</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>sCaseComment.CommentBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Case status was updated because Parent case status changed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCaseComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sChildCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Comment_to_Write_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_to_Write_Collection_0</name>
        <label>Add Case to Write Collection</label>
        <locationX>550</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>scWriteCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sChildCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Cases_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comment_to_Write_collection_0</name>
        <label>Add Comment to Write collection</label>
        <locationX>709</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>scCaseComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sCaseComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Write_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Child_Case_Status</name>
        <label>Update Child Case Status</label>
        <locationX>711</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>sChildCases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Comment_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Child_Cases_Found</name>
        <label>Check if Child Cases Found</label>
        <locationX>481</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Cases_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scChildCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Change Control - When Parent Case status is changed to Closed - Cancelled and prior value is Submitted for Approval, this flow updates all children Case status to &quot;Closed - Cancelled&quot; and adds a case comment</description>
    <label>Change Control - Update Child Cases - Submitted for Approval</label>
    <loops>
        <name>Loop_Child_Cases_0</name>
        <label>Loop Child Cases</label>
        <locationX>481</locationX>
        <locationY>232</locationY>
        <assignNextValueToReference>sChildCases</assignNextValueToReference>
        <collectionReference>scChildCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Child_Case_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Comments</name>
        <label>Create Case Comments</label>
        <locationX>343</locationX>
        <locationY>619</locationY>
        <inputReference>scCaseComments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_all_Open_Children_Cases</name>
        <label>Find all Open Children Cases</label>
        <locationX>476</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Child_Cases_Found</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>scChildCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Cases</name>
        <label>Update Child Cases</label>
        <locationX>340</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>Create_Case_Comments</targetReference>
        </connector>
        <inputReference>scWriteCases</inputReference>
    </recordUpdates>
    <startElementReference>Find_all_Open_Children_Cases</startElementReference>
    <variables>
        <name>sCaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>scCaseComments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>scChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>scWriteCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500S0000005LzQV</stringValue>
        </value>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed - Cancelled</stringValue>
        </value>
    </variables>
</Flow>
