flows/Change_Control_Update_Child_Cases_Submitted_to_Backend-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_FOPP_email</name>
        <label>Send FOPP email</label>
        <locationX>657</locationX>
        <locationY>219</locationY>
        <actionName>Case.Change_Control_Parent_Case_Cancelled_Notification_FOPP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>System_Impact</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_KM_Email</name>
        <label>Send KM Email</label>
        <locationX>660</locationX>
        <locationY>412</locationY>
        <actionName>Case.Change_Control_Parent_Case_Cancelled_Notification_KM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Training_Impact</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Systems_Email</name>
        <label>Send Systems Email</label>
        <locationX>657</locationX>
        <locationY>315</locationY>
        <actionName>Case.Change_Control_Parent_Case_Cancelled_Notification_Systems</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>KM_Impact</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Training_Email</name>
        <label>Send Training Email</label>
        <locationX>656</locationX>
        <locationY>516</locationY>
        <actionName>Case.Change_Control_Parent_Case_Cancelled_Notification_Training</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>FOPP_Impact</name>
        <label>FOPP Impact?</label>
        <locationX>484</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>System_Impact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFOPPImpact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_FOPP_email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>KM_Impact</name>
        <label>KM Impact?</label>
        <locationX>482</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Training_Impact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vKMImpact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_KM_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>System_Impact</name>
        <label>System Impact?</label>
        <locationX>479</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>KM_Impact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSystemsImpact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Systems_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Impact</name>
        <label>Training Impact?</label>
        <locationX>482</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTrainingImpact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Training_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Change Control - When Parent Case status is changed to Closed - Cancelled and prior value is Submitted to Backend, this flow Sends email to all Backend processing teams that are affected</description>
    <label>Change Control - Update Child Cases - Submitted to Backend</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>FOPP_Impact</startElementReference>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500S0000005LzQV</stringValue>
        </value>
    </variables>
    <variables>
        <name>vFOPPImpact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vKMImpact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSystemsImpact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTrainingImpact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
