flows/Change_Control_Approval_Process-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_case_to_write_collection</name>
        <label>Add case to write collection</label>
        <locationX>177</locationX>
        <locationY>1375</locationY>
        <assignmentItems>
            <assignToReference>vcUpdatedChildCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vsChildCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_in_loop</name>
        <label>Update Case Status in loop</label>
        <locationX>109</locationX>
        <locationY>1204</locationY>
        <assignmentItems>
            <assignToReference>vsChildCases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed - Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_case_to_write_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Compliance_Impact</name>
        <choiceText>Compliance Impact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance Impact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scorecard</name>
        <choiceText>Scorecard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scorecard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Systems_Project</name>
        <choiceText>Systems Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Systems Project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Updated_approver_list</name>
        <choiceText>Updated approver list</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Updated_Case_Information</name>
        <choiceText>Updated Case Information</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <constants>
        <name>cBand5QueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Band5</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please approve change control case. To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</description>
        <name>cDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</stringValue>
        </value>
    </constants>
    <constants>
        <name>cEntCompQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enterprise Compliance</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChildCaseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Control Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>cHRQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HR</stringValue>
        </value>
    </constants>
    <constants>
        <name>cLegalQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please approve Change Request</description>
        <name>cSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please approve Change Request by Approval Target Date</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTreasuryQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Treasury</stringValue>
        </value>
    </constants>
    <constants>
        <name>vAdministrationQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Administration</stringValue>
        </value>
    </constants>
    <constants>
        <name>vBTSQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BTS</stringValue>
        </value>
    </constants>
    <constants>
        <name>vCollectionsQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections</stringValue>
        </value>
    </constants>
    <constants>
        <name>vCustServQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </constants>
    <constants>
        <name>vFieldServicesQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Field Services</stringValue>
        </value>
    </constants>
    <constants>
        <name>vICUQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ICU</stringValue>
        </value>
    </constants>
    <constants>
        <name>vInsuranceQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance</stringValue>
        </value>
    </constants>
    <constants>
        <name>vLoyaltyQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Loyalty</stringValue>
        </value>
    </constants>
    <constants>
        <name>vSOComplianceQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SO Compliance</stringValue>
        </value>
    </constants>
    <constants>
        <name>vVendorManagementQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Management</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>409</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Create_Approvals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>First time Submit</defaultConnectorLabel>
        <rules>
            <name>Resubmit_Statuses</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Front End Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted to Backend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KM Changes Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_options</targetReference>
            </connector>
            <label>Resubmit Statuses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_is_Closed</name>
        <label>Check if Case is Closed</label>
        <locationX>408</locationX>
        <locationY>112</locationY>
        <defaultConnector>
            <targetReference>Lookup_Case_Owner_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Child_Open_Cases_Found</name>
        <label>Check if Child Open Cases Found</label>
        <locationX>477</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vcChildOpenCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Approval_Cases</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_Type</name>
        <label>Check Owner Type</label>
        <locationX>407</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOwnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_to_Submitter</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_resubmission_reason</name>
        <label>Check resubmission reason</label>
        <locationX>470</locationX>
        <locationY>643</locationY>
        <defaultConnector>
            <targetReference>Lookup_Chage_Control_Approval_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated Case Info</defaultConnectorLabel>
        <rules>
            <name>Update_Approvers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Updated_approver_list</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_List</targetReference>
            </connector>
            <label>Update Approvers</label>
        </rules>
    </decisions>
    <formulas>
        <name>vChangeDue</name>
        <dataType>Number</dataType>
        <expression>{!ParentCase.KM_Implementation_Date__c} - Now()</expression>
        <scale>0</scale>
    </formulas>
    <label>Change Control Approval Process</label>
    <loops>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>363</locationX>
        <locationY>1201</locationY>
        <assignNextValueToReference>vsChildCases</assignNextValueToReference>
        <collectionReference>vcChildOpenCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Case_Status_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Case_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Case_Owner_Type</name>
        <label>Lookup Case Owner Type</label>
        <locationX>409</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Owner_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCase.OwnerId</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vOwnerType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Chage_Control_Approval_Record_Type</name>
        <label>Lookup Chage Control Approval Record Type</label>
        <locationX>473</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Child_cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vChildCaseRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Child_cases</name>
        <label>Lookup Child cases</label>
        <locationX>476</locationX>
        <locationY>880</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Child_Open_Cases_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildCaseRecordType</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vcChildOpenCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Case</name>
        <label>Lookup Parent Case</label>
        <locationX>408</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_is_Closed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ParentCase</outputReference>
        <queriedFields>KM_HR__c</queriedFields>
        <queriedFields>KM_Administration__c</queriedFields>
        <queriedFields>KM_BTS__c</queriedFields>
        <queriedFields>KM_Collections__c</queriedFields>
        <queriedFields>KM_Customer_Service__c</queriedFields>
        <queriedFields>KM_Enterprise_Complaince__c</queriedFields>
        <queriedFields>KM_Field_Services__c</queriedFields>
        <queriedFields>KM_ICU__c</queriedFields>
        <queriedFields>KM_Insurance__c</queriedFields>
        <queriedFields>KM_Legal__c</queriedFields>
        <queriedFields>KM_Loyalty__c</queriedFields>
        <queriedFields>KM_SO_Compliance__c</queriedFields>
        <queriedFields>KM_Treasury__c</queriedFields>
        <queriedFields>KM_Vendor_Management__c</queriedFields>
        <queriedFields>KM_Approval_Target_Date__c</queriedFields>
        <queriedFields>KM_Implementation_Date__c</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>KM_approval_Count__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Case_Status</name>
        <label>Update Child Case Status</label>
        <locationX>511</locationX>
        <locationY>1362</locationY>
        <connector>
            <targetReference>Create_Approval_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_0_0</targetReference>
        </faultConnector>
        <inputReference>vcUpdatedChildCases</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>226</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Error</name>
            <fieldText>A Closed Case cannot be submutted for Approval or Edited.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Display_Error_0</name>
        <label>Display Error</label>
        <locationX>781</locationX>
        <locationY>480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Error_0</name>
            <fieldText>{!$Flow.FaultMessage}

Id = {!sHRGroup.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Display_Error_0_0</name>
        <label>Display Error</label>
        <locationX>692</locationX>
        <locationY>1356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Error_0_0</name>
            <fieldText>{!$Flow.FaultMessage}

Id = {!sHRGroup.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Display_Error_to_Submitter</name>
        <label>Display Error to Submitter</label>
        <locationX>233</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>result_0</name>
            <fieldText>Case cannot be submitted before it is accepted from a queue. Only an user can submit a case for Approvals. Please accept the case first.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Display_options</name>
        <label>Display options</label>
        <locationX>473</locationX>
        <locationY>537</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Check_resubmission_reason</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>You would like to resubmit the case for approval because:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select</name>
            <choiceReferences>Updated_approver_list</choiceReferences>
            <choiceReferences>Updated_Case_Information</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Updated_approver_list</defaultSelectedChoiceReference>
            <fieldText>Please select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Warning</name>
            <fieldText>(If &quot;Updated case Information&quot; is selected, all current approvals will be cancelled and new approvals for all selected approvers will be created)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Parent_Case</startElementReference>
    <subflows>
        <name>Create_Approval_Cases</name>
        <label>Create Approval Cases</label>
        <locationX>655</locationX>
        <locationY>1173</locationY>
        <flowName>Change_Control_Approval_New</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Approvals</name>
        <label>Create Approvals</label>
        <locationX>278</locationX>
        <locationY>529</locationY>
        <flowName>Change_Control_Approval_New</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Approver_List</name>
        <label>Update Approver List</label>
        <locationX>231</locationX>
        <locationY>772</locationY>
        <flowName>Change_Control_Update_Approver_List</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCase</name>
            <value>
                <elementReference>ParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vApprovalCount</name>
            <value>
                <elementReference>ParentCase.KM_approval_Count__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sHRGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>vApprovalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>500S0000007JJrM</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Control</stringValue>
        </value>
    </variables>
    <variables>
        <name>vcChildOpenCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vChildCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Control Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>vcUpdatedChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vHR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHRGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLegal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vsChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
