flows/Change_Control_Backend_Processing_V3-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>36</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sParentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Status_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_1</name>
        <label>Update Parent Case</label>
        <locationX>343</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sParentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Status_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_1_0</name>
        <label>Update Parent Case</label>
        <locationX>702</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sParentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Status_0_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_1_0_0</name>
        <label>Update Parent Case</label>
        <locationX>533</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sParentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Status_0_2_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_1_0_1</name>
        <label>Update Parent Case</label>
        <locationX>549</locationX>
        <locationY>1111</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sParentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Status_0_2_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_1_1</name>
        <label>Update Parent Case</label>
        <locationX>190</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sParentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Status_0_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_Status_0</name>
        <label>Update Parent Case Status</label>
        <locationX>35</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase.KM_Backend_Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Systems</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sWriteParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Backend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Systems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_Status_0_2</name>
        <label>Update Parent Case Status</label>
        <locationX>343</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase.KM_Backend_Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to FOPP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sWriteParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Backend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Systems_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_Status_0_2_0</name>
        <label>Update Parent Case Status</label>
        <locationX>702</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase.KM_Backend_Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to KM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sWriteParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Backend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Systems_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_Status_0_2_0_0</name>
        <label>Update Parent Case Status</label>
        <locationX>534</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase.KM_Backend_Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sWriteParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Backend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_KM_Impacted_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_Status_0_2_0_1</name>
        <label>Update Parent Case Status</label>
        <locationX>548</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase.KM_Backend_Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Training and KM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sWriteParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Backend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Systems_2_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Case_Status_0_2_1</name>
        <label>Update Parent Case Status</label>
        <locationX>189</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>sWriteParentCase.KM_Backend_Processing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to FOPP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sWriteParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Backend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Systems_2_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_teams_Impacted</name>
        <label>Check teams Impacted</label>
        <locationX>154</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Is_KM_Impacted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Systems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_Systems_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_Backend_Processing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case</targetReference>
            </connector>
            <label>Systems</label>
        </rules>
        <rules>
            <name>FOPP_with_Systems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_FOPP_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_Backend_Processing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Systems Implementation Date Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_Systems_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_1_1</targetReference>
            </connector>
            <label>FOPP with Systems</label>
        </rules>
        <rules>
            <name>Training_with_FOPP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_Training_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_FOPP_Publication_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_1_0_0</targetReference>
            </connector>
            <label>Training with FOPP</label>
        </rules>
        <rules>
            <name>FOPP_without_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_FOPP_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_Systems_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_Backend_Processing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_1</targetReference>
            </connector>
            <label>FOPP without System</label>
        </rules>
        <rules>
            <name>Training_without_FOPP_Systems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_Training_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_Systems_Impact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_FOPP_Impact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_1_0_0</targetReference>
            </connector>
            <label>Training without FOPP &amp; Systems</label>
        </rules>
        <rules>
            <name>Training_with_Systems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_Training_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_Systems_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sParentCase.KM_Backend_Processing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Systems Implementation Date Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_1_0_0</targetReference>
            </connector>
            <label>Training with Systems</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_KM_Impacted</name>
        <label>Is KM Impacted</label>
        <locationX>694</locationX>
        <locationY>490</locationY>
        <defaultConnectorLabel>KM Not Impacted</defaultConnectorLabel>
        <rules>
            <name>KM_Impacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_1_0</targetReference>
            </connector>
            <label>KM Impacted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_KM_Impacted_0</name>
        <label>Is KM Impacted</label>
        <locationX>544</locationX>
        <locationY>875</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Case_Systems_2_0_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KM Not Impacted</defaultConnectorLabel>
        <rules>
            <name>KM_Impacted_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.KM_Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_1_0_1</targetReference>
            </connector>
            <label>KM Impacted</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsClosed</name>
        <label>IsClosed?</label>
        <locationX>150</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Check_teams_Impacted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sParentCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>This flow is triggered by mulitple conditions and is part of Change Control Backend processing.</description>
    <label>Change Control - Backend Processing V3</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Change_Control_Case</name>
        <label>Lookup Change Control Case</label>
        <locationX>340</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsClosed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sParentCase</outputReference>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>KM_FOPP_Impact__c</queriedFields>
        <queriedFields>KM_Impact__c</queriedFields>
        <queriedFields>KM_Systems_Impact__c</queriedFields>
        <queriedFields>KM_Training_Impact__c</queriedFields>
        <queriedFields>KM_Backend_Processing_Status__c</queriedFields>
        <queriedFields>KM_FOPP_Publication_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_KM_Queue_ID</name>
        <label>Lookup KM Queue ID</label>
        <locationX>120</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parent_Case_owner_to_KM</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vKMQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Case_owner_to_KM</name>
        <label>Update Parent Case owner to KM</label>
        <locationX>121</locationX>
        <locationY>1101</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vKMQueueId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Systems</name>
        <label>Update Parent Case_Systems</label>
        <locationX>32</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>Lookup_KM_Queue_ID</targetReference>
        </connector>
        <inputReference>sWriteParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Systems_2</name>
        <label>Update Parent Case_Systems</label>
        <locationX>345</locationX>
        <locationY>840</locationY>
        <inputReference>sWriteParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Systems_2_0</name>
        <label>Update Parent Case_Systems</label>
        <locationX>703</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Lookup_KM_Queue_ID</targetReference>
        </connector>
        <inputReference>sWriteParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Systems_2_0_1</name>
        <label>Update Parent Case_Systems</label>
        <locationX>549</locationX>
        <locationY>1326</locationY>
        <connector>
            <targetReference>Lookup_KM_Queue_ID</targetReference>
        </connector>
        <inputReference>sWriteParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Systems_2_0_2</name>
        <label>Update Parent Case_Systems</label>
        <locationX>374</locationX>
        <locationY>999</locationY>
        <connector>
            <targetReference>Lookup_KM_Queue_ID</targetReference>
        </connector>
        <inputReference>sWriteParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Systems_2_1</name>
        <label>Update Parent Case_Systems</label>
        <locationX>191</locationX>
        <locationY>871</locationY>
        <connector>
            <targetReference>Lookup_KM_Queue_ID</targetReference>
        </connector>
        <inputReference>sWriteParentCase</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Change_Control_Case</startElementReference>
    <variables>
        <name>sParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sWriteParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500S0000005LzQV</stringValue>
        </value>
    </variables>
    <variables>
        <name>vKMQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
