flows/Create_Customer_Complaint_Case-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Complaint</name>
        <label>Log Complaint</label>
        <locationX>183</locationX>
        <locationY>344</locationY>
        <actionName>Financial_Account__c.Log_Complaint</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>FinancialAccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Service_Request_Type__c</name>
            <value>
                <elementReference>What_type_of_complaint_did_the_customer_have</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Description_and_Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Service_Recipient__c</name>
            <value>
                <elementReference>Whologgedthecomplaint</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Service_Result__c</name>
            <value>
                <elementReference>What_was_the_result_of_your_interaction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Service_Type__c</name>
            <value>
                <elementReference>What_type_of_interaction_did_you_have</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Financial_Account_Customer__c</name>
            <value>
                <elementReference>FACId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>Account_History</name>
        <choiceText>Account History</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account History</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Statement</name>
        <choiceText>Billing Statement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Statement</stringValue>
        </value>
    </choices>
    <choices>
        <name>BK_Asset_Protection</name>
        <choiceText>BK/Asset Protection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BK/Asset Protection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Borrower_Customer</name>
        <choiceText>Borrower/Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrower/Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Central_Recovery</name>
        <choiceText>Central Recovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central Recovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_Borrower_Customer</name>
        <choiceText>Co-Borrower/Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-Borrower/Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Collections_Repo</name>
        <choiceText>Collections/Repo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections/Repo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Dispute</name>
        <choiceText>Credit Dispute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Dispute</stringValue>
        </value>
    </choices>
    <choices>
        <name>CSC_Customer_Experience</name>
        <choiceText>CSC Customer Experience</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CSC Customer Experience</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Correspondence</name>
        <choiceText>Customer Correspondence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Correspondence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer</name>
        <choiceText>Dealer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Demographics</name>
        <choiceText>Demographics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demographics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dialer</name>
        <choiceText>Dialer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dialer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discrimination</name>
        <choiceText>Discrimination</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discrimination</stringValue>
        </value>
    </choices>
    <choices>
        <name>Do_Not_Call</name>
        <choiceText>Do Not Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Do Not Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalated</name>
        <choiceText>Escalated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalated</stringValue>
        </value>
    </choices>
    <choices>
        <name>EWU_Dispo_Fee</name>
        <choiceText>EWU/Dispo Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EWU/Dispo Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extension_Deferral</name>
        <choiceText>Extension/Deferral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extension/Deferral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fraud_ID_Theft</name>
        <choiceText>Fraud/ID Theft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraud/ID Theft</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Process</name>
        <choiceText>In Process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Process</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound_Call</name>
        <choiceText>Inbound Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>IVR</name>
        <choiceText>IVR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IVR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Late_Charge</name>
        <choiceText>Late Charge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Late Charge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_App</name>
        <choiceText>Mobile App</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile App</stringValue>
        </value>
    </choices>
    <choices>
        <name>Optional_Product</name>
        <choiceText>Optional Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Optional Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Complaint</name>
        <choiceText>Other Complaint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Complaint</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound_Call</name>
        <choiceText>Outbound Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment</name>
        <choiceText>Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payoff_Issue</name>
        <choiceText>Payoff Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payoff Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>PPT_Sales_Tax</name>
        <choiceText>PPT/Sales Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PPT/Sales Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Privacy_Information_Security</name>
        <choiceText>Privacy/Information Security</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Privacy/Information Security</stringValue>
        </value>
    </choices>
    <choices>
        <name>Redemption_Reinstatement</name>
        <choiceText>Redemption/Reinstatement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redemption/Reinstatement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refunds</name>
        <choiceText>Refunds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refunds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Third_Party_Caller</name>
        <choiceText>Third Party Caller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Third Party Caller</stringValue>
        </value>
    </choices>
    <choices>
        <name>Title_Closed</name>
        <choiceText>Title Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Title Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Title_Open</name>
        <choiceText>Title Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Title Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle</name>
        <choiceText>Vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vendor</name>
        <choiceText>Vendor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <constants>
        <name>PRIMARY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary</stringValue>
        </value>
    </constants>
    <constants>
        <description>a07S0000006hHfD</description>
        <name>TEST_FA_NUM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a07S0000006hHfD</stringValue>
        </value>
    </constants>
    <description>Creates a customer complaint case</description>
    <formulas>
        <name>complaintLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Description_and_Comments})</expression>
        <scale>2</scale>
    </formulas>
    <label>Create Customer Complaint Case</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_FAC</name>
        <label>Lookup FAC</label>
        <locationX>181</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Complaint</targetReference>
        </connector>
        <filters>
            <field>Borrower_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRIMARY</elementReference>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccountNumber</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputAssignments>
            <assignToReference>FACId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Customer_Complaint</name>
        <label>Customer Complaint</label>
        <locationX>181</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Lookup_FAC</targetReference>
        </connector>
        <fields>
            <name>Whologgedthecomplaint</name>
            <choiceReferences>Borrower_Customer</choiceReferences>
            <choiceReferences>Co_Borrower_Customer</choiceReferences>
            <choiceReferences>Third_Party_Caller</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who logged the complaint?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_interaction_did_you_have</name>
            <choiceReferences>Inbound_Call</choiceReferences>
            <choiceReferences>Outbound_Call</choiceReferences>
            <choiceReferences>Customer_Correspondence</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of interaction did you have?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_complaint_did_the_customer_have</name>
            <choiceReferences>Account_History</choiceReferences>
            <choiceReferences>Billing_Statement</choiceReferences>
            <choiceReferences>BK_Asset_Protection</choiceReferences>
            <choiceReferences>Central_Recovery</choiceReferences>
            <choiceReferences>Collections_Repo</choiceReferences>
            <choiceReferences>Credit_Dispute</choiceReferences>
            <choiceReferences>CSC_Customer_Experience</choiceReferences>
            <choiceReferences>Dealer</choiceReferences>
            <choiceReferences>Demographics</choiceReferences>
            <choiceReferences>Dialer</choiceReferences>
            <choiceReferences>Do_Not_Call</choiceReferences>
            <choiceReferences>EWU_Dispo_Fee</choiceReferences>
            <choiceReferences>Extension_Deferral</choiceReferences>
            <choiceReferences>Fraud_ID_Theft</choiceReferences>
            <choiceReferences>IVR</choiceReferences>
            <choiceReferences>Late_Charge</choiceReferences>
            <choiceReferences>Marketing</choiceReferences>
            <choiceReferences>Mobile_App</choiceReferences>
            <choiceReferences>Optional_Product</choiceReferences>
            <choiceReferences>Payment</choiceReferences>
            <choiceReferences>Payoff_Issue</choiceReferences>
            <choiceReferences>PPT_Sales_Tax</choiceReferences>
            <choiceReferences>Vehicle</choiceReferences>
            <choiceReferences>Privacy_Information_Security</choiceReferences>
            <choiceReferences>Redemption_Reinstatement</choiceReferences>
            <choiceReferences>Refunds</choiceReferences>
            <choiceReferences>Title_Open</choiceReferences>
            <choiceReferences>Title_Closed</choiceReferences>
            <choiceReferences>Vendor</choiceReferences>
            <choiceReferences>Website</choiceReferences>
            <choiceReferences>Other_Complaint</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of complaint did the customer have?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_was_the_result_of_your_interaction</name>
            <choiceReferences>In_Process</choiceReferences>
            <choiceReferences>Escalated</choiceReferences>
            <choiceReferences>Resolved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What was the result of your interaction?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_and_Comments</name>
            <fieldText>Description and Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Customer_Complaint</startElementReference>
    <variables>
        <name>FACId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
