flows/Identity_Confirmation-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>IdentityContext</name>
        <label>IdentityContext</label>
        <locationX>13</locationX>
        <locationY>161</locationY>
        <apexClass>IdentityContextPlugin</apexClass>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>LoginFlow_UserId</assignToReference>
            <name>User Id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>HasRegisteredToken</assignToReference>
            <name>Has Registered Token</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>Email</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Send an email to me at {!UserObject.Email}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Two_Factor_Authentication</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Use a mobile authenticator app for user {!UserObject.Username}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Invoke_Challenge</name>
        <label>Invoke Challenge</label>
        <locationX>724</locationX>
        <locationY>161</locationY>
        <defaultConnector>
            <targetReference>Email_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email</defaultConnectorLabel>
        <rules>
            <name>X2FA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Two_Factor_Authentication</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_Factor</targetReference>
            </connector>
            <label>2FA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provide_Challenge_Options</name>
        <label>Challenge Options</label>
        <locationX>353</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Invoke_Challenge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Only</defaultConnectorLabel>
        <rules>
            <name>Email_2FA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasRegisteredToken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_2FA_Screen</targetReference>
            </connector>
            <label>Email+2FA</label>
        </rules>
    </decisions>
    <label>Identity Confirmation</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>179</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Provide_Challenge_Options</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Username</queriedFields>
    </recordLookups>
    <screens>
        <name>Email_2FA_Screen</name>
        <label>Email+2FA</label>
        <locationX>545</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Invoke_Challenge</targetReference>
        </connector>
        <fields>
            <name>ConfirmationQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;How would you like to confirm your identity?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Method</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Two_Factor_Authentication</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Email</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Method&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>IdentityContext</startElementReference>
    <subflows>
        <name>Email_Confirmation</name>
        <label>Email Confirmation</label>
        <locationX>885</locationX>
        <locationY>263</locationY>
        <flowName>Email_Confirmation</flowName>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Two_Factor</name>
        <label>Two-Factor</label>
        <locationX>890</locationX>
        <locationY>65</locationY>
        <flowName>SF_TOTP</flowName>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>HasRegisteredToken</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwoFactorInfoObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TwoFactorInfo</objectType>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
