flows/KM_Create_Child_Approval_Case-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Approval_Count</name>
        <label>Add Approval Count</label>
        <locationX>312</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Case_Found</name>
        <label>Case Found?</label>
        <locationX>53</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>vCaseFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Cases</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Please approve change control case. To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</description>
        <name>cDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please approve Change Request</description>
        <name>cSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please approve Change Request by Approval Target Date</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_child_case_status</name>
        <label>Check child case status</label>
        <locationX>50</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Case</defaultConnectorLabel>
        <rules>
            <name>No_need_to_create_new_case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sLoopVariable.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sLoopVariable.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sLoopVariable.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sLoopVariable.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Found</targetReference>
            </connector>
            <label>No need to create new case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Case_was_found</name>
        <label>Child Case was found</label>
        <locationX>306</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Lookup_Queue_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Found</label>
        </rules>
    </decisions>
    <description>SubFlow to create Child approval case for Change Control process</description>
    <label>KM Create Child Approval Case</label>
    <loops>
        <name>Loop_Child_Cases</name>
        <label>Loop Child Cases</label>
        <locationX>292</locationX>
        <locationY>189</locationY>
        <assignNextValueToReference>sLoopVariable</assignNextValueToReference>
        <collectionReference>scChildCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_child_case_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Child_Case_was_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Case</name>
        <label>Create Approval Case</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Add_Approval_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Queue_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>cDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KM_Approval_Target_Date__c</field>
            <value>
                <elementReference>ParentCase.KM_Approval_Target_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KM_Parent_Case_Owner__c</field>
            <value>
                <elementReference>ParentCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Approval Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>vPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Change Control</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>cSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>vCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Child_Cases</name>
        <label>Lookup Child Cases</label>
        <locationX>289</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Cases</targetReference>
        </connector>
        <filters>
            <field>Case_Owner_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>scChildCases</outputReference>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue_ID</name>
        <label>Lookup Queue ID</label>
        <locationX>306</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Approval_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Queue_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Display_Queue_Fault</name>
        <label>Display Queue Fault</label>
        <locationX>494</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>QueueFault</name>
            <fieldText>Queue Fault Message = {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Child_Cases</startElementReference>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>scChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vApprovalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCaseFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500S0000005M0cN</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Control</stringValue>
        </value>
    </variables>
    <variables>
        <name>vChildCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
