flows/KM_Cancel_Child_Approval_Case-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_updated_case_to_write_collection</name>
        <label>Add updated case to write collection</label>
        <locationX>217</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>scUpdatedChildCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Found</name>
        <label>Case Found?</label>
        <locationX>64</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>sLoopVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed - Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCaseFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_updated_case_to_write_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reduce_approval_Count</name>
        <label>Reduce approval Count</label>
        <locationX>461</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>vApprovalCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>Please approve change control case. To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</description>
        <name>cDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>To view the Change request details, see Parent Case. Select Case status &quot;Closed - Approve&quot; to approve the request or &quot;Closed - Declined&quot; to decline the request,</stringValue>
        </value>
    </constants>
    <constants>
        <description>Please approve Change Request</description>
        <name>cSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please approve Change Request by Approval Target Date</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_child_case_status</name>
        <label>Check child case status</label>
        <locationX>63</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Cancel_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sLoopVariable.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Found</targetReference>
            </connector>
            <label>Cancel Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Child_Case_update</name>
        <label>Need Child Case update?</label>
        <locationX>444</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If approvers are updated on the parent case and one of the approver was deselected, then this flow will cancel the related child case if it is not already closed.</description>
    <label>KM Cancel Child Approval Case</label>
    <loops>
        <name>Loop_Child_Cases</name>
        <label>Loop Child Cases</label>
        <locationX>292</locationX>
        <locationY>189</locationY>
        <assignNextValueToReference>sLoopVariable</assignNextValueToReference>
        <collectionReference>scChildCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_child_case_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Need_Child_Case_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Child_Cases</name>
        <label>Lookup Child Cases</label>
        <locationX>289</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Queue_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Case_Owner_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildCaseRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>scChildCases</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Cases</name>
        <label>Update Child Cases</label>
        <locationX>453</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>Reduce_approval_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Queue_Fault</targetReference>
        </faultConnector>
        <inputReference>scUpdatedChildCases</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Queue_Fault</name>
        <label>Display Queue Fault</label>
        <locationX>712</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>QueueFault</name>
            <fieldText>Queue Fault Message = {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Child_Cases</startElementReference>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>scChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>scUpdatedChildCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vApprovalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCaseFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500S0000005M0cN</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Control</stringValue>
        </value>
    </variables>
    <variables>
        <name>vChildCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
