flows/Repo_Recovery_Questionnaire-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Last_Contact_Date</name>
        <label>Get Last Contact Date</label>
        <locationX>45</locationX>
        <locationY>269</locationY>
        <actionName>TFSC_ActivityModel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Choose_Path</targetReference>
        </connector>
        <inputParameters>
            <name>faIds</name>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>LastContactDate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Involuntary_Note_Variable_DPD</name>
        <label>Involuntary Note Variables - DPD</label>
        <locationX>1323</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>IsDriverContracted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Driver_Payer_Contracted_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INVOL_Additional_Comments_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdPartyDriverName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_Contracted_Driver_Payer_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalRecoveryAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Recovery_Address_DPD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalActivityCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RCVR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RCVR - ROUTE FOR REPOSSESION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalRecoveryAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INVOL_Suggested_Recovery_Address_DPD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Validations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Involuntary_Note_Variables</name>
        <label>Involuntary Note Variables</label>
        <locationX>1325</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>IsDriverContracted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Driver_Payer_Contracted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INVOL_Additional_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdPartyDriverName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_Contracted_Driver_Payer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalRecoveryAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Recovery_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalActivityCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RCVR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RCVR - ROUTE FOR REPOSSESION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalRecoveryAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INVOL_Suggested_Recovery_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Validations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Voluntary_Note_Variables</name>
        <label>Voluntary Note Variables</label>
        <locationX>1321</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>FinalActivityCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VOLS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VOLS - VOL SURRENDER PROCESSING</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalRecoveryAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VOL_Suggested_Recovery_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Validations</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Involuntary</name>
        <choiceText>Involuntary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Involuntary</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary</name>
        <choiceText>Voluntary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voluntary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <constants>
        <description>State abbr from Pennsylvania</description>
        <name>PENNSYLVANIA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PA</stringValue>
        </value>
    </constants>
    <constants>
        <name>PRIMARY_BORROWER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary</stringValue>
        </value>
    </constants>
    <constants>
        <name>SCRA_MILITARY_CODES</name>
        <dataType>String</dataType>
        <value>
            <stringValue>M,N,O,S,T,U</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPECIALTY_CODES</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1005;1913;1914;1915;1028;1821;1822;1823;1820;1806;1810;1912;1029;1033;1034;1035;1007;1023;1024;1025;1026;1027;1030;1031;1052;1053;1054;1055;1056;1057;1058;1059;1060;1061;1003;1016;1017;1090;1119</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Choose_Path</name>
        <label>Choose Path</label>
        <locationX>46</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Type_of_Recovery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Specialty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSpecialty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Specialty_Error</targetReference>
            </connector>
            <label>Specialty</label>
        </rules>
        <rules>
            <name>PA_Recourse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInPA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasRecourseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Recovery_PA_Recourse</targetReference>
            </connector>
            <label>PA + Recourse</label>
        </rules>
        <rules>
            <name>PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInPA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Recovery_PA</targetReference>
            </connector>
            <label>PA</label>
        </rules>
        <rules>
            <name>Recourse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasRecourseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Recovery_Recourse</targetReference>
            </connector>
            <label>Recourse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Validations</name>
        <label>Final Validations</label>
        <locationX>1541</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>DPD_Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DPD_is_below_the_normal_threshold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_DPD_Threshold</targetReference>
            </connector>
            <label>DPD - Not Approved</label>
        </rules>
        <rules>
            <name>Voluntary_Ramifications_Not_Discussed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VOLS_Ramification_Discussed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_VOLS_Ramification_Not_Discussed</targetReference>
            </connector>
            <label>Voluntary - Ramifications Not Discussed</label>
        </rules>
        <rules>
            <name>Involuntary_Cure_Still_Active</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Has_the_Right_to_Cure_letter_expired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Has_the_Right_to_Cure_letter_expired_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Active_Cure</targetReference>
            </connector>
            <label>Involuntary - Cure Still Active</label>
        </rules>
        <rules>
            <name>Involuntary_Pending_Satisfactory_Payment</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_there_a_pending_satisfactory_payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_there_a_pending_satisfactory_payment_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Pending_Satifactory_Payment</targetReference>
            </connector>
            <label>Involuntary - Pending Satisfactory Payment</label>
        </rules>
        <rules>
            <name>Involuntary_Disclosures_Not_Given</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_there_a_No_Promise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_there_a_No_Promise_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Not_Properly_Disclosed</targetReference>
            </connector>
            <label>Involuntary - Disclosures Not Given</label>
        </rules>
        <rules>
            <name>Involuntary_Incomplete_SOP</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SOP_completed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SOP_completed_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Incomplete_SOP</targetReference>
            </connector>
            <label>Involuntary - Incomplete SOP</label>
        </rules>
        <rules>
            <name>Involuntary_Balance_Dispute</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_there_a_dispute_about_balance_owed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_there_a_dispute_about_balance_owed_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Balance_Dispute</targetReference>
            </connector>
            <label>Involuntary - Balance Dispute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Round_1_Validations</name>
        <label>Round 1 Validations</label>
        <locationX>632</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Voluntary_or_Involuntary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Less_Than_2_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasLessThan2RemainingPayments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_2_Payments</targetReference>
            </connector>
            <label>Less Than 2 Payments</label>
        </rules>
        <rules>
            <name>Less_Than_1500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinalRemainingBalance</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_1500</targetReference>
            </connector>
            <label>Less Than $1500</label>
        </rules>
        <rules>
            <name>SCRA_or_Military</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSCRAOrMilitary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_SCRA_or_Military</targetReference>
            </connector>
            <label>SCRA or Military</label>
        </rules>
        <rules>
            <name>PA_Lien_Not_Validated</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>PALien1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PALien1_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_PA_Lien_Not_Validated</targetReference>
            </connector>
            <label>PA Lien Not Validated</label>
        </rules>
        <rules>
            <name>Dealer_Guaranty_Not_Reviewed</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Recourse2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecourseQuestion1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Dealer_Guaranty</targetReference>
            </connector>
            <label>Dealer Guaranty Not Reviewed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voluntary_or_Involuntary</name>
        <label>Voluntary or Involuntary</label>
        <locationX>893</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Involuntary_Questionnaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Involuntary path</defaultConnectorLabel>
        <rules>
            <name>Voluntary_path</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voluntary_Questionnaire</targetReference>
            </connector>
            <label>Voluntary path</label>
        </rules>
        <rules>
            <name>Involuntary_DPD_Below_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInvoluntary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRepoEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Involuntary_Questionnaire_DPD</targetReference>
            </connector>
            <label>Involuntary - DPD Below Threshold</label>
        </rules>
    </decisions>
    <description>Walks the user through the repo/recovery questionnaire to generate a quick note.</description>
    <formulas>
        <name>AdditionalNotes</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!INVOL_Additional_Comments})),
 {!INVOL_Additional_Comments},
 IF(NOT(ISBLANK({!INVOL_Additional_Comments_0})),
  {!INVOL_Additional_Comments_0},
  {!VOL_Additional_Comments}
 )
)</expression>
    </formulas>
    <formulas>
        <name>CompiledNote</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT({!IsInvoluntary}),
 {!VoluntaryRepoNote},
 IF(
  {!IsInvoluntary_3PDriver},
  {!InvoluntaryNoteText_3PDriver},
  IF(
   {!IsInvoluntary_AddRecoAddress},
   {!InvoluntaryNoteText_AddRecoAddress},
   IF(
    {!IsInvoluntary_3PDriver_AddRecoAddress},
    {!InvoluntaryNoteText_3PDriver_AddRecoAddress},
    {!InvoluntaryNoteText_Default}
   )
  )
 )
)</expression>
    </formulas>
    <formulas>
        <name>FinalRemainingBalance</name>
        <dataType>Number</dataType>
        <expression>IF(
 {!FARecTypeId} = {!RetailRecordTypeId},
 {!RemainingBalanceValue},
 {!GrossPayoffAmtValue}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GrossPayoffAmtValue</name>
        <dataType>Number</dataType>
        <expression>IF(
 ISBLANK({!GrossPayoffAmt}),
 0.00,
 VALUE({!GrossPayoffAmt})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HasLessThan2RemainingPayments</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 {!RemainingPayments} &lt; 2,
 TRUE,
 FALSE
)</expression>
    </formulas>
    <formulas>
        <name>HasRecourseCode</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 {!RecourseCode} &lt;&gt; &quot;&quot;,
 {!RecourseCode} &lt;&gt; &quot;N&quot;
)</expression>
    </formulas>
    <formulas>
        <name>IsInPA</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 {!FinalRemainingBalance} &gt; 1500,
 {!NumberOfMonthsSinceOrig} &gt;= 69,
 {!GarageState} = {!PENNSYLVANIA}
)</expression>
    </formulas>
    <formulas>
        <name>IsInvoluntary</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 OR(
  {!PA_Recourse_What_type_of_recovery_is_this} = {!Involuntary},
  {!PA_What_type_of_recovery_is_this} = {!Involuntary},
  {!Recourse_What_type_of_recovery_is_this} = {!Involuntary},
  {!What_type_of_recovery_is_this} = {!Involuntary}
 ),
 TRUE,
 FALSE
)</expression>
    </formulas>
    <formulas>
        <name>IsInvoluntary_3PDriver</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 {!IsInvoluntary},
 OR(
  AND(
   {!Additional_Recovery_Address_DPD} = &apos;&apos;,
   NOT({!IsRepoEligible})
  ),
  AND(
   {!Additional_Recovery_Address} = &apos;&apos;,
   {!IsRepoEligible}
  )
 ),
 OR(
  AND(
   NOT({!IsRepoEligible}),
   {!Is_the_Driver_Payer_Contracted_0} = {!No}
  ),
  AND(
   {!IsRepoEligible},
   {!Is_the_Driver_Payer_Contracted} = {!No}
  )
 )
)</expression>
    </formulas>
    <formulas>
        <name>IsInvoluntary_3PDriver_AddRecoAddress</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 {!IsInvoluntary},
 OR(
  AND(
   NOT({!Additional_Recovery_Address_DPD} = &apos;&apos;),
   NOT({!IsRepoEligible})
  ),
  AND(
   NOT({!Additional_Recovery_Address} = &apos;&apos;),
   {!IsRepoEligible}
  )
 ),
 OR(
  AND(
   NOT({!IsRepoEligible}),
   {!Is_the_Driver_Payer_Contracted_0} = {!No}
  ),
  AND(
   {!IsRepoEligible},
   {!Is_the_Driver_Payer_Contracted} = {!No}
  )
 )
)</expression>
    </formulas>
    <formulas>
        <name>IsInvoluntary_AddRecoAddress</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 {!IsInvoluntary},
 OR(
  AND(
   NOT({!Additional_Recovery_Address_DPD} = &apos;&apos;),
   NOT({!IsRepoEligible})
  ),
  AND(
   NOT({!Additional_Recovery_Address} = &apos;&apos;),
   {!IsRepoEligible}
  )
 ),
 OR(
  AND(
   NOT({!IsRepoEligible}),
   {!Is_the_Driver_Payer_Contracted_0} = {!Yes}
  ),
  AND(
   {!IsRepoEligible},
   {!Is_the_Driver_Payer_Contracted} = {!Yes}
  )
 )
)</expression>
    </formulas>
    <formulas>
        <name>IsRepoEligible</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
 OR( 
  AND(  
   {!RiskStrategy3} &lt;&gt; &apos;NOR&apos;, 
   OR( 
	  AND( 
	   MOD( TODAY() - DATE(1900, 1, 1), 7) = 0, 
	   VALUE({!DaysPastDue}) &gt;= 73 
	  ), 
	  VALUE({!DaysPastDue}) &gt;= 75 
   ), 
   {!CollectionsListNumber1} &lt;&gt; null, 
   {!CollectionsListStatus1} &lt;&gt; &apos;C&apos; 
  ), 
  AND( 
   {!RiskStrategy3} = &apos;NOR&apos;, 
   OR( 
	  AND( 
	   MOD( TODAY() - DATE(1900, 1, 1), 7) = 0, 
	   VALUE({!DaysPastDue}) &gt;= 81 
	  ), 
	  VALUE({!DaysPastDue}) &gt;= 83 
   ), 
   {!CollectionsListNumber1} &lt;&gt; null, 
   {!CollectionsListStatus1} &lt;&gt; &apos;C&apos; 
  ) 
 ),
 TRUE,
 FALSE
)</expression>
    </formulas>
    <formulas>
        <name>IsSCRAOrMilitary</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 AND(
  NOT(ISBLANK({!SpecialHandling})),
  CONTAINS({!SCRA_MILITARY_CODES},{!SpecialHandling})
 ),
 TRUE,
 FALSE
)</expression>
    </formulas>
    <formulas>
        <name>IsSpecialty</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 AND(
  CONTAINS({!SPECIALTY_CODES},{!CollectionsListNumber1}),
  OR(
   {!CollectionsListStatus1} = &apos;A&apos;,
   {!CollectionsListStatus1} = &apos;P&apos;
  )
 ),
 TRUE,
 FALSE
)</expression>
    </formulas>
    <formulas>
        <name>NumberOfMonthsSinceOrig</name>
        <dataType>Number</dataType>
        <expression>IF(DAY(TODAY()) &gt;= DAY({!ContractDate}),0,-1) + (YEAR(TODAY()) - YEAR({!ContractDate})) * 12 + MONTH(TODAY()) - MONTH({!ContractDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingBalanceValue</name>
        <dataType>Number</dataType>
        <expression>IF(
 ISBLANK({!RemainingBalance}),
 0.00,
 VALUE({!RemainingBalance})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Terms</name>
        <dataType>String</dataType>
        <expression>{!NumberOfPaymentsMade}&amp;&quot;/&quot;&amp;{!OriginalTerm}</expression>
    </formulas>
    <formulas>
        <name>TrimmedAddress</name>
        <dataType>String</dataType>
        <expression>TRIM({!SuggestedRecoveryAddressReformatted})</expression>
    </formulas>
    <formulas>
        <name>X3P_DP_NAME</name>
        <dataType>String</dataType>
        <expression>&quot;placeholder&quot;</expression>
    </formulas>
    <formulas>
        <name>x3PDriverInfo</name>
        <dataType>String</dataType>
        <expression>&quot;placeholder&quot;</expression>
    </formulas>
    <interviewLabel>Repo - Recovery Questionnaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Repo - Recovery Questionnaire</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>1994</locationX>
        <locationY>441</locationY>
        <assignRecordIdToReference>test_ResultingTaskId</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Activity_Code__c</field>
            <value>
                <elementReference>FinalActivityCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Note_Preview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Number__c</field>
            <value>
                <elementReference>FinancialAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_System_Created_By__c</field>
            <value>
                <stringValue>SFDC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NoteSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_FA</name>
        <label>Lookup FA</label>
        <locationX>45</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Retail_Rec_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </filters>
        <object>Financial_Account__c</object>
        <outputAssignments>
            <assignToReference>CollectionsListNumber1</assignToReference>
            <field>Collection_List_Number_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollectionsListStatus1</assignToReference>
            <field>Collection_List_Status_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecourseCode</assignToReference>
            <field>Collection_Recourse_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginationDate</assignToReference>
            <field>Contract_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractDate</assignToReference>
            <field>Contract_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DealerGuarantyDescription</assignToReference>
            <field>Dealer_Guaranty_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SpecialHandling</assignToReference>
            <field>Flag_Special_Handling__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DaysPastDue</assignToReference>
            <field>History_Counter_Days_Past_Due__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumberOfPaymentsMade</assignToReference>
            <field>History_Counter_Payments_Made__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RemainingBalance</assignToReference>
            <field>Loan_Current_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginalTerm</assignToReference>
            <field>Loan_Original_Term__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinancialAccountNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RemainingPayments</assignToReference>
            <field>Payment_Term_Remaining__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrossPayoffAmt</assignToReference>
            <field>Payoff_Amount_Gross__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GarageState</assignToReference>
            <field>Primary_Garage_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FARecTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RiskStrategy3</assignToReference>
            <field>Risk_Strategy_Code_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SpecialHandlingDescription</assignToReference>
            <field>Special_Handling__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lease_Rec_Type</name>
        <label>Lookup Lease Rec Type</label>
        <locationX>230</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Primary_FAC</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lease</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial_Account__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LeaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Primary_FAC</name>
        <label>Lookup Primary FAC</label>
        <locationX>44</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Contact_Date</targetReference>
        </connector>
        <filters>
            <field>Borrower_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRIMARY_BORROWER</elementReference>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputAssignments>
            <assignToReference>ContactPhone</assignToReference>
            <field>Home_Phone_Garage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerCity</assignToReference>
            <field>Mailing_City_Garage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerZIP</assignToReference>
            <field>Mailing_Postal_Code_Garage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerStreet</assignToReference>
            <field>Mailing_Street_Garage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Retail_Rec_Type</name>
        <label>Lookup Retail Rec Type</label>
        <locationX>230</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Lease_Rec_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RetailRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1810</locationX>
        <locationY>442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
        <fields>
            <name>Note_Preview</name>
            <defaultValue>
                <elementReference>CompiledNote</elementReference>
            </defaultValue>
            <fieldText>Note Preview</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Error_1500</name>
        <label>Error: &lt; $1500</label>
        <locationX>623</locationX>
        <locationY>935</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LessThan1500ErrorMsg</name>
            <fieldText>The balance is less than $1,500.00.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_2_Payments</name>
        <label>Error: &lt; 2 Payments</label>
        <locationX>553</locationX>
        <locationY>855</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error1Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LessThan2PaymentsErrorMsg</name>
            <fieldText>There are less than 2 payments remaining.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Active_Cure</name>
        <label>Error: Active Cure</label>
        <locationX>1410</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error8Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveCureErrorMsg</name>
            <fieldText>The Cure is still active.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Balance_Dispute</name>
        <label>Error: Balance Dispute</label>
        <locationX>1683</locationX>
        <locationY>976</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error12Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BalanceDisputeErrorMsg</name>
            <fieldText>Balance dispute must be resolved prior to RCVR.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Dealer_Guaranty</name>
        <label>Error: Dealer Guaranty</label>
        <locationX>476</locationX>
        <locationY>772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error4Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DealerGuarantyErrorMsg</name>
            <fieldText>Review the Dealer Guaranty with the DSSO / Dealer.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_DPD_Threshold</name>
        <label>Error: DPD Threshold</label>
        <locationX>1747</locationX>
        <locationY>888</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error6Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPDErrorMsg</name>
            <fieldText>Team Leader Approval is required based on DPD.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Incomplete_SOP</name>
        <label>Error: Incomplete SOP</label>
        <locationX>1614</locationX>
        <locationY>1061</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error11Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IncompleteSOPErrorMsg</name>
            <fieldText>The SOP hasn’t been completed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Not_Properly_Disclosed</name>
        <label>Error: Not Properly Disclosed</label>
        <locationX>1552</locationX>
        <locationY>1169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error10Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotProperlyDisclosedErrorMsg</name>
            <fieldText>The appropriate disclosures were not delivered to the customer during the recent RPC.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_PA_Lien_Not_Validated</name>
        <label>Error: PA Lien Not Validated</label>
        <locationX>770</locationX>
        <locationY>780</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error3Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PALienNotValidatedErrorMsg</name>
            <fieldText>Complete DM Form 3367 to re-establish the lien.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Pending_Satifactory_Payment</name>
        <label>Error: Pending Satifactory Payment</label>
        <locationX>1488</locationX>
        <locationY>1059</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error9Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SatisfactoryPaymentErrorMsg</name>
            <fieldText>There is a pending satisfactory payment.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_SCRA_or_Military</name>
        <label>Error: SCRA or Military</label>
        <locationX>698</locationX>
        <locationY>860</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2Header_0</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCRAMilitaryErrorMsg</name>
            <fieldText>The Borrower and/or CoBorrower is SCRA eligible or active military.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_VOLS_Ramification_Not_Discussed</name>
        <label>Error: VOLS Ramification Not Discussed</label>
        <locationX>1335</locationX>
        <locationY>881</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error7Header</name>
            <fieldText>{!Error_Generic}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VolsRamificationErrorMsg</name>
            <fieldText>VOLS Ramifications need to be discussed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>Has the Dealer Guarantee status been reviewed with the DSSO / Dealer?
DPD is below the normal threshold for reposession. Has TL Approval been noted on account?
Is the Driver/Payer Contracted?
Has the Right to Cure letter expired? 
Is there a pending satisfactory payment? 
Is there a &apos;No Promise&apos; noted on the account without FCA and Reposession Ramification disclosures?
SOP completed?
Is there a dispute about balance owed (Contract Dispute, misapplied pmts, rescheduling issue)</description>
        <name>Involuntary_Questionnaire</name>
        <label>Involuntary Questionnaire</label>
        <locationX>1163</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Involuntary_Note_Variables</targetReference>
        </connector>
        <fields>
            <name>InvoluntaryQuestionnaireHeader</name>
            <fieldText>{!QuestionnaireHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INVOL_Suggested_Recovery_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SuggestedRecoveryAddressReformatted</elementReference>
            </defaultValue>
            <fieldText>Suggested Recovery Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank21</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Recovery_Address</name>
            <dataType>String</dataType>
            <fieldText>Additional Recovery Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank22</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INVOL_PhysicalAddress</name>
            <dataType>Boolean</dataType>
            <fieldText>Check the box to confirm the Suggested Recovery Addresses are physical addresses.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Update Suggested Recovery Addresses to physical addresses and confirm in order to proceed with the reposession.</errorMessage>
                <formulaExpression>INVOL_PhysicalAddress</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>blank23</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_the_Driver_Payer_Contracted</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Driver/Payer Contracted?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank24</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Non_Contracted_Driver_Payer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>N/A</stringValue>
            </defaultValue>
            <fieldText>Non-Contracted Driver/Payer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>You must enter the Non-Contracted Driver/Payer&apos;s Name.</errorMessage>
                <formulaExpression>OR(
 AND(
  Is_the_Driver_Payer_Contracted = &quot;No&quot;,
  Non_Contracted_Driver_Payer_Name &lt;&gt; &quot;N/A&quot;
 ),
 AND(
  Is_the_Driver_Payer_Contracted = &quot;Yes&quot;,
  Non_Contracted_Driver_Payer_Name = &quot;N/A&quot;
 )
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>blank25</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_Right_to_Cure_letter_expired</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the Right to Cure letter expired?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank26</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_there_a_pending_satisfactory_payment</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a pending satisfactory payment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank27</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_there_a_No_Promise</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a &apos;No Promise&apos; noted on the account without FCA and Repossession Ramification disclosures?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank28</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SOP_completed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SOP completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank29</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_there_a_dispute_about_balance_owed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a dispute about balance owed (Contract Dispute, misapplied pmts, rescheduling issue)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank30</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INVOL_Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Has the Dealer Guarantee status been reviewed with the DSSO / Dealer?
DPD is below the normal threshold for reposession. Has TL Approval been noted on account?
Is the Driver/Payer Contracted?
Has the Right to Cure letter expired? 
Is there a pending satisfactory payment? 
Is there a &apos;No Promise&apos; noted on the account without FCA and Reposession Ramification disclosures?
SOP completed?
Is there a dispute about balance owed (Contract Dispute, misapplied pmts, rescheduling issue)</description>
        <name>Involuntary_Questionnaire_DPD</name>
        <label>Involuntary Questionnaire - DPD</label>
        <locationX>1162</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Involuntary_Note_Variable_DPD</targetReference>
        </connector>
        <fields>
            <name>InvoluntaryQuestionnaireHeader_0</name>
            <fieldText>{!QuestionnaireHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DPD_is_below_the_normal_threshold</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>DPD is below the normal threshold for repossession. Has TL Approval been noted on account?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INVOL_Suggested_Recovery_Address_DPD</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SuggestedRecoveryAddressReformatted</elementReference>
            </defaultValue>
            <fieldText>Suggested Recovery Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Recovery_Address_DPD</name>
            <dataType>String</dataType>
            <fieldText>Additional Recovery Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INVOL_PhysicalAddress_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Check the box to confirm the Suggested Recovery Addresses are physical addresses.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Update Suggested Recovery Addresses to physical addresses and confirm in order to proceed with the reposession.</errorMessage>
                <formulaExpression>INVOL_PhysicalAddress_0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>blank13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_the_Driver_Payer_Contracted_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Driver/Payer Contracted?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Non_Contracted_Driver_Payer_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>N/A</stringValue>
            </defaultValue>
            <fieldText>Non-Contracted Driver/Payer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>You must enter the Non-Contracted Driver/Payer&apos;s Name.</errorMessage>
                <formulaExpression>OR(
 AND(
  Is_the_Driver_Payer_Contracted_0 = &quot;No&quot;,
  Non_Contracted_Driver_Payer_Name_0 &lt;&gt; &quot;N/A&quot;
 ),
 AND(
  Is_the_Driver_Payer_Contracted_0 = &quot;Yes&quot;,
  Non_Contracted_Driver_Payer_Name_0 = &quot;N/A&quot;
 )
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>blank15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_Right_to_Cure_letter_expired_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the Right to Cure letter expired?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_there_a_pending_satisfactory_payment_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a pending satisfactory payment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_there_a_No_Promise_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a &apos;No Promise&apos; noted on the account without FCA and Repossession Ramification disclosures?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SOP_completed_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SOP completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank19</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_there_a_dispute_about_balance_owed_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a dispute about balance owed (Contract Dispute, misapplied pmts, rescheduling issue)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INVOL_Additional_Comments_0</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Specialty_Error</name>
        <label>Error: Specialty</label>
        <locationX>52</locationX>
        <locationY>867</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SpecialtyError</name>
            <fieldText>Please use Collections Host to RCVR a specialty account (Impound, Total Loss, Probate, Discharged BK, Mature Lease Services, Military or BSG).</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Type_of_Recovery</name>
        <label>Type of Recovery</label>
        <locationX>326</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Round_1_Validations</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <fieldText>{!QuestionnaireHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_recovery_is_this</name>
            <choiceReferences>Voluntary</choiceReferences>
            <choiceReferences>Involuntary</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Involuntary / Voluntary Surrender?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Type_of_Recovery_PA</name>
        <label>Type of Recovery - PA</label>
        <locationX>329</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Round_1_Validations</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldText>{!QuestionnaireHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PA_What_type_of_recovery_is_this</name>
            <choiceReferences>Voluntary</choiceReferences>
            <choiceReferences>Involuntary</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Involuntary / Voluntary Surrender?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PALien1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>This is a PA lien account. Has the lien status been validated?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Type_of_Recovery_PA_Recourse</name>
        <label>Type of Recovery - PA - Recourse</label>
        <locationX>325</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Round_1_Validations</targetReference>
        </connector>
        <fields>
            <name>Header4</name>
            <fieldText>{!QuestionnaireHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PA_Recourse_What_type_of_recovery_is_this</name>
            <choiceReferences>Voluntary</choiceReferences>
            <choiceReferences>Involuntary</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Involuntary / Voluntary Surrender?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PALien1_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>This is a PA lien account. Has the lien status been validated?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecourseQuestion1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the Dealer Guaranty status been reviewed with the DSSO / Dealer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Type_of_Recovery_Recourse</name>
        <label>Type of Recovery - Recourse</label>
        <locationX>328</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Round_1_Validations</targetReference>
        </connector>
        <fields>
            <name>Header5</name>
            <fieldText>{!QuestionnaireHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recourse_What_type_of_recovery_is_this</name>
            <choiceReferences>Voluntary</choiceReferences>
            <choiceReferences>Involuntary</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Involuntary / Voluntary Surrender?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recourse2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the Dealer Guaranty status been reviewed with the DSSO / Dealer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Has the Dealer Guarantee status been reviewed with the DSSO / Dealer?
Is the Driver/Payer Contracted?</description>
        <name>Voluntary_Questionnaire</name>
        <label>Voluntary Questionnaire</label>
        <locationX>1164</locationX>
        <locationY>594</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Voluntary_Note_Variables</targetReference>
        </connector>
        <fields>
            <name>VoluntaryQuestionnaireHeader</name>
            <fieldText>{!QuestionnaireHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VOLS_Ramification_Discussed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>VOLS Ramification Discussed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank31</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VOL_Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactName</elementReference>
            </defaultValue>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank32</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VOL_Contact_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactPhone</elementReference>
            </defaultValue>
            <fieldText>Contact Phone #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank33</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VOL_Suggested_Recovery_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SuggestedRecoveryAddressReformatted</elementReference>
            </defaultValue>
            <fieldText>Suggested Recovery Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank34</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VOL_PhysicalAddress</name>
            <dataType>Boolean</dataType>
            <fieldText>Check the box to confirm the Suggested Recovery Address is a physical address.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Update Suggested Recovery Address to a physical address and confirm in order to proceed with the reposession.</errorMessage>
                <formulaExpression>VOL_PhysicalAddress</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>blank35</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VOL_Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lookup_FA</startElementReference>
    <textTemplates>
        <name>Error_DealerGuaranty</name>
        <text>Review the Dealer Guarantee with the DSSO / Dealer. Do not reposess at this time.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Generic</name>
        <text>Repossession is not an option at this time.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_PALien</name>
        <text>Complete DM Form 3367 to re-establish lien. Do not reposess at this time.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_SCRAMilitaryEligible</name>
        <text>The Borrower and/or CoBorrower is SCRA eligible or active military. Reposession is not an option.</text>
    </textTemplates>
    <textTemplates>
        <name>InvoluntaryNoteText_3PDriver</name>
        <text>RCVR ADDR: {!FinalRecoveryAddress}
DRV: {!IsDriverContracted} 3P D&amp;P NAME: {!ThirdPartyDriverName}
CURE: Y DPD: {!DaysPastDue} CODE: {!RiskStrategy3} PHYS ADDR: Y
LAST CON: {!LastContactDate} TERMS: {!NumberOfPaymentsMade}/{!OriginalTerm}
NOTES: {!AdditionalComments}</text>
    </textTemplates>
    <textTemplates>
        <name>InvoluntaryNoteText_3PDriver_AddRecoAddress</name>
        <text>RCVR ADDR: {!FinalRecoveryAddress}
DRV: {!IsDriverContracted} 3P D&amp;P NAME: {!ThirdPartyDriverName}
CURE: Y DPD: {!DaysPastDue} CODE: {!RiskStrategy3} PHYS ADDR: Y 
LAST CON: {!LastContactDate} TERMS: {!NumberOfPaymentsMade}/{!OriginalTerm} 
Additional Recovery Address: {!AdditionalRecoveryAddress}
NOTES: {!AdditionalComments}</text>
    </textTemplates>
    <textTemplates>
        <name>InvoluntaryNoteText_AddRecoAddress</name>
        <text>RCVR ADDR: {!FinalRecoveryAddress}
DRV: {!IsDriverContracted}
CURE: Y DPD: {!DaysPastDue} CODE: {!RiskStrategy3} PHYS ADDR: Y 
LAST CON: {!LastContactDate} TERMS: {!NumberOfPaymentsMade}/{!OriginalTerm} 
Additional Recovery Address: {!AdditionalRecoveryAddress}
NOTES: {!AdditionalComments}</text>
    </textTemplates>
    <textTemplates>
        <name>InvoluntaryNoteText_Default</name>
        <text>RCVR ADDR: {!FinalRecoveryAddress}
DRV: {!IsDriverContracted} 
CURE: Y DPD: {!DaysPastDue} CODE: {!RiskStrategy3} PHYS ADDR: Y
LAST CON: {!LastContactDate} TERMS: {!NumberOfPaymentsMade}/{!OriginalTerm}
NOTES:  {!AdditionalComments}</text>
    </textTemplates>
    <textTemplates>
        <name>QuestionnaireHeader</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;            Remaining Payments:&lt;/B&gt; {!RemainingPayments}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;                                   Balance:&lt;/B&gt; $&lt;FONT KERNING=&quot;1&quot;&gt;{!FinalRemainingBalance}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;                    Special Handling: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!SpecialHandlingDescription}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;       Months from Origination: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!NumberOfMonthsSinceOrig}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Dealer Guaranty Description:&lt;/B&gt; {!DealerGuarantyDescription}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;                        Days Past Due: &lt;/B&gt;{!DaysPastDue}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;             Risk Strategy Code 3: &lt;/B&gt;{!RiskStrategy3}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;   Number of Payments Made:&lt;/B&gt; {!NumberOfPaymentsMade}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;                          Original Term: &lt;/B&gt;{!OriginalTerm}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;                   Last Contact Date: &lt;/B&gt;{!LastContactDate}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SpecialtyAccountProcessError</name>
        <text>Page under construction. Please use Collections Host to RCVR a specialty account (Impound, Total Loss, Probate, Discharged BK, Post Maturity).</text>
    </textTemplates>
    <textTemplates>
        <name>SuggestedRecoveryAddressReformatted</name>
        <text>{!BorrowerStreet}, {!BorrowerCity}, {!GarageState}, {!BorrowerZIP}</text>
    </textTemplates>
    <textTemplates>
        <name>VoluntaryRepoNote</name>
        <text>Please p/u from: {!FinalRecoveryAddress}
Contact: {!VOL_Contact}
Ph#: {!VOL_Contact_Phone}
VOLS Rams Discussed: Yes
Additional Comments: {!VOL_Additional_Comments}</text>
    </textTemplates>
    <variables>
        <name>AdditionalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalRecoveryAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BorrowerCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BorrowerStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BorrowerZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionsListNumber1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionsListStatus1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DaysPastDue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DealerGuarantyDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FARecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalActivityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalRecoveryAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GarageState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GrossPayoffAmt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoluntaryNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsDriverContracted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastContactDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoteSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoteText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VoluntaryRepoNote</elementReference>
        </value>
    </variables>
    <variables>
        <name>NumberOfPaymentsMade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecourseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingBalance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingPayments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RetailRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RiskStrategy3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialHandling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialHandlingDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuggestedRecoveryAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test_ResultingTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThirdPartyDriverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
