flows/RL_Create_Rights_Letter_Quality_Review_Case-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Creates a rights letter quality review case as a child of the rights letter case and inheriting some default values from the parent case</description>
    <label>RL Create Rights Letter Quality Review Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Rights_Letter_Quality_Review_Case</name>
        <label>Create Rights Letter Quality Review Case</label>
        <locationX>72</locationX>
        <locationY>425</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>sRLParentCase.BusinessHoursId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vRLQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>sRLParentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_Parent_Record_Type__c</field>
            <value>
                <elementReference>vParentRTName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_Repo_Date__c</field>
            <value>
                <elementReference>sRLParentCase.RL_Repo_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_Required_Notice_Date_Time__c</field>
            <value>
                <elementReference>sRLParentCase.RL_Required_Notice_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_Required_Service_Level_Date__c</field>
            <value>
                <elementReference>sRLParentCase.RL_Required_Service_Level_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_State_of_Jurisdiction__c</field>
            <value>
                <elementReference>sRLParentCase.RL_State_of_Jurisdiction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_System_Required_Notice_Date_Time__c</field>
            <value>
                <elementReference>sRLParentCase.RL_System_Required_Notice_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vCaseRTID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>sRLParentCase.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Case_Record_Type_Name</name>
        <label>Get Parent Case Record Type Name</label>
        <locationX>72</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RL_Quality_Review_Queue_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sRLParentCase.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vParentRTName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RL_Quality_Review_Queue_ID</name>
        <label>Get RL Quality Review Queue ID</label>
        <locationX>72</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Rights_Letter_Quality_Review_Case</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RL Quality Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vRLQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RL_Quality_Review_Record_Type_ID</name>
        <label>Get RL Quality Review Record Type ID</label>
        <locationX>72</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Case_Record_Type_Name</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RL Quality Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vCaseRTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_RL_Quality_Review_Record_Type_ID</startElementReference>
    <variables>
        <name>sRLParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vParentRTName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRLQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
