flows/RL_Set_State_Conditions-41.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Determine_local_repo_date_time</name>
        <label>Determine local repo time</label>
        <locationX>387</locationX>
        <locationY>3052</locationY>
        <apexClass>RL_FlowNoticeDate</apexClass>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputParameters>
            <name>Business Hours ID</name>
            <value>
                <elementReference>sCase.BusinessHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Non working-day rule</name>
            <value>
                <elementReference>sFormRule.Non_Working_Day_Rule__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Recovery Date/Time Text</name>
            <value>
                <elementReference>vRecoveryDateTimeText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Repossession Zip Code</name>
            <value>
                <elementReference>fZip</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Rule Notice Calendar</name>
            <value>
                <elementReference>sFormRule.Notice_Calendar__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Rule time till notice</name>
            <value>
                <elementReference>sFormRule.Time_Till_Notice__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vLocalRepoDateTime</assignToReference>
            <name>Local Repo Date</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vLocalRepoDateStr</assignToReference>
            <name>Local Repo Date Time</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vRequiredNoticeLocalText</assignToReference>
            <name>Required Notice Date Text</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vRequiredNoticeDateGMT</assignToReference>
            <name>Required Notice Date Time</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vServiceLevelDate</assignToReference>
            <name>Service Level Date</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Assign_BK</name>
        <label>Assign BK</label>
        <locationX>237</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>vAccountTerminationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_State_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Full_Term</name>
        <label>Assign Full Term</label>
        <locationX>543</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>vAccountTerminationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_State_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Involuntary_Repo</name>
        <label>Assign Involuntary Repo</label>
        <locationX>388</locationX>
        <locationY>1418</locationY>
        <assignmentItems>
            <assignToReference>vAccountTerminationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_State_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_BK</name>
        <label>Assign Non-BK</label>
        <locationX>81</locationX>
        <locationY>1422</locationY>
        <assignmentItems>
            <assignToReference>vAccountTerminationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_State_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Numeric_DPD</name>
        <label>Assign Numeric DPD</label>
        <locationX>82</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>vNumericDPD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fConvertDPD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_FACs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recovery_Date_Time</name>
        <label>Assign Recovery Date/Time</label>
        <locationX>385</locationX>
        <locationY>2939</locationY>
        <assignmentItems>
            <assignToReference>vRecoveryDateTimeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRepossession.iRepo_RecoveryDateTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_local_repo_date_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SJ_Var</name>
        <label>SoJ = Mailing Garage State</label>
        <locationX>76</locationX>
        <locationY>1870</locationY>
        <assignmentItems>
            <assignToReference>vStateOfJurisdiction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sFinancialAccountCustomer.Mailing_State_Garage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Repo_In_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SJ_Var_dealer</name>
        <label>SoJ = Dealer Billing State</label>
        <locationX>226</locationX>
        <locationY>1869</locationY>
        <assignmentItems>
            <assignToReference>vStateOfJurisdiction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sDealership.BillingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Repo_In_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Default variable assignment returns the Make instead of the Model...using assignment widget to see if we can get different results</description>
        <name>Assign_Vehicle_Model</name>
        <label>Assign Vehicle Model</label>
        <locationX>78</locationX>
        <locationY>3385</locationY>
        <assignmentItems>
            <assignToReference>vVehicle_Model</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRepossession.Vehicle_Model__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Repossession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Voluntary_Repo</name>
        <label>Assign Voluntary Repo</label>
        <locationX>942</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>vAccountTerminationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_State_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Voluntary_Termination</name>
        <label>Assign Voluntary Termination</label>
        <locationX>722</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>vAccountTerminationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_State_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_State_Repo</name>
        <label>In-State Repo</label>
        <locationX>223</locationX>
        <locationY>2089</locationY>
        <assignmentItems>
            <assignToReference>vInState</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Voluntary_Surrender_Apply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Tax_Zip_Code</name>
        <label>Sales Tax Zip Code</label>
        <locationX>238</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>vSalesTaxZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sFinancialAccountCustomer.Mailing_Postal_Code_Garage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSalesTaxZip</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSalesTaxZip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFinancialAccountCustomer.Garage_Zip_Code_Extn__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lease_Account_Termination_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Voluntary_Surrender</name>
        <label>Voluntary Surrender</label>
        <locationX>224</locationX>
        <locationY>2292</locationY>
        <assignmentItems>
            <assignToReference>vVoluntary_Surrender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRepossession.Voluntary_Surrender__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_RL_Form_Rule_RT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_there_are_FACs</name>
        <label>Check if there are FACs</label>
        <locationX>82</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>Find_FA_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFinancialAccountCustomer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FA_and_SoJ_on_Repo</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Voluntary_Surrender_Apply</name>
        <label>Does Voluntary Surrender Apply</label>
        <locationX>79</locationX>
        <locationY>2193</locationY>
        <defaultConnector>
            <targetReference>Find_RL_Form_Rule_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Vol_Surrender_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFARecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStateOfJurisdiction</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStateOfJurisdiction</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voluntary_Surrender</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_rule_found</name>
        <label>Form rule found?</label>
        <locationX>78</locationX>
        <locationY>2626</locationY>
        <defaultConnector>
            <targetReference>Is_Vehicle_Info_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Form_Rule_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFormRule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Repo_RT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>iRepo_VIN_Matches_FA_VIN</name>
        <label>iRepo VIN Matches FA VIN</label>
        <locationX>237</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>VIN No Match</defaultConnectorLabel>
        <rules>
            <name>VIN_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sRepossession.iRepo_VIN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vFAVIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Numeric_DPD</targetReference>
            </connector>
            <label>VIN Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FA_Exist</name>
        <label>FA Exists?</label>
        <locationX>235</locationX>
        <locationY>282</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFinancialAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_FA_VIN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FA_Lookup_Populated</name>
        <label>Is FA Lookup Populated?</label>
        <locationX>79</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>Find_FA_to_match_FA_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FA_Lookup_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFinancialAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Numeric_DPD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_in_50_States</name>
        <label>Is Garage in 50 States?</label>
        <locationX>78</locationX>
        <locationY>1647</locationY>
        <defaultConnector>
            <targetReference>Find_Dealership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>In_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SJ_Var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_iRepo_Zip_not_null</name>
        <label>Is iRepo Zip not null</label>
        <locationX>235</locationX>
        <locationY>2839</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sRepossession.iRepo_RepoZip__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recovery_Date_Time</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lease_RT</name>
        <label>Does FA have Lease RT?</label>
        <locationX>83</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>Retail_Account_Termination_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Lease_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFARecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Tax_Zip_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Repo_In_State</name>
        <label>Is Repo In State</label>
        <locationX>77</locationX>
        <locationY>1978</locationY>
        <defaultConnector>
            <targetReference>Does_Voluntary_Surrender_Apply</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>In_State_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFARecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStateOfJurisdiction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sRepossession.iRepo_RepoState__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_State_Repo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Vehicle_Info_Null</name>
        <label>Is Vehicle Info Null</label>
        <locationX>78</locationX>
        <locationY>3268</locationY>
        <defaultConnector>
            <targetReference>Lookup_Vehicle_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is null</defaultConnectorLabel>
        <rules>
            <name>Veh_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sRepossession.Vehicle_Make__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vehicle_Model</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lease_Account_Termination_Code</name>
        <label>Lease Account Termination Code</label>
        <locationX>389</locationX>
        <locationY>1296</locationY>
        <defaultConnector>
            <targetReference>Assign_Involuntary_Repo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Involuntary Repo</defaultConnectorLabel>
        <rules>
            <name>Full_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFinancialAccount.Maturity_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sFinancialAccount.Repo_Full_Term_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Full_Term</targetReference>
            </connector>
            <label>Full Term</label>
        </rules>
        <rules>
            <name>Voluntary_Termination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sRepossession.Voluntary_Surrender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vNumericDPD</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Voluntary_Termination</targetReference>
            </connector>
            <label>Voluntary Termination</label>
        </rules>
        <rules>
            <name>Voluntary_Repo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sRepossession.Voluntary_Surrender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vNumericDPD</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Voluntary_Repo</targetReference>
            </connector>
            <label>Voluntary Repo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retail_Account_Termination_Code</name>
        <label>Retail Account Termination Code</label>
        <locationX>82</locationX>
        <locationY>1301</locationY>
        <defaultConnector>
            <targetReference>Assign_Non_BK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-BK</defaultConnectorLabel>
        <rules>
            <name>BK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sFinancialAccount.Bankruptcy_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sFinancialAccount.Bankruptcy_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sFinancialAccount.Bankruptcy_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sFinancialAccount.Bankruptcy_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sFinancialAccount.Bankruptcy_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BK</targetReference>
            </connector>
            <label>BK</label>
        </rules>
    </decisions>
    <formulas>
        <name>fAccountNumber</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!sRepossession.iRepo_AccountNumber__c}) &gt; 11, 
IF(LEFT({!sRepossession.iRepo_AccountNumber__c}, 4) = &quot;0007&quot;, 
MID({!sRepossession.iRepo_AccountNumber__c}, 7, 10), 
LEFT(RIGHT({!sRepossession.iRepo_AccountNumber__c}, 10),2) &amp; &quot;0&quot; &amp; RIGHT({!sRepossession.iRepo_AccountNumber__c}, 8)), 
{!sRepossession.iRepo_AccountNumber__c})</expression>
    </formulas>
    <formulas>
        <name>fConvertDPD</name>
        <dataType>Number</dataType>
        <expression>VALUE({!sFinancialAccount.History_Counter_Days_Past_Due__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fZip</name>
        <dataType>String</dataType>
        <expression>LEFT({!sRepossession.iRepo_RepoZip__c}, 5)</expression>
    </formulas>
    <label>RL Set State Conditions</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Dealership</name>
        <label>Find Dealership</label>
        <locationX>227</locationX>
        <locationY>1762</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SJ_Var_dealer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFinancialAccount.Dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sDealership</outputReference>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_FA_RT</name>
        <label>Find FA RT Name</label>
        <locationX>82</locationX>
        <locationY>970</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lease_RT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFinancialAccount.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial_Account__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vFARecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_FA_to_match_FA_Number</name>
        <label>Find FA to match FA#</label>
        <locationX>234</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_FA_Exist</targetReference>
        </connector>
        <filters>
            <field>Financial_Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fAccountNumber</elementReference>
            </value>
        </filters>
        <object>Financial_Account__c</object>
        <outputReference>sFinancialAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dealership__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Collateral__c</queriedFields>
        <queriedFields>Bankruptcy_Flag__c</queriedFields>
        <queriedFields>Maturity_Date__c</queriedFields>
        <queriedFields>Repo_Full_Term_Date__c</queriedFields>
        <queriedFields>History_Counter_Days_Past_Due__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_FACs</name>
        <label>Find FACs</label>
        <locationX>82</locationX>
        <locationY>741</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_FACs</targetReference>
        </connector>
        <filters>
            <field>Borrower_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0-Primary Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFinancialAccount.Id</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputReference>sFinancialAccountCustomer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mailing_State_Garage__c</queriedFields>
        <queriedFields>Mailing_Postal_Code_Garage__c</queriedFields>
        <queriedFields>Garage_Zip_Code_Extn__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Form_Rule</name>
        <label>Find Form Rule</label>
        <locationX>77</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Form_rule_found</targetReference>
        </connector>
        <filters>
            <field>Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFARecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>In_State_Repo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInState</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRLFormRuleRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_of_Jurisdiction__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>vStateOfJurisdiction</elementReference>
            </value>
        </filters>
        <filters>
            <field>Voluntary_Surrender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vVoluntary_Surrender</elementReference>
            </value>
        </filters>
        <object>Form_Rule__c</object>
        <outputReference>sFormRule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Repossession_Record_Type__c</queriedFields>
        <queriedFields>iRepo_SLA__c</queriedFields>
        <queriedFields>Notice_Calendar__c</queriedFields>
        <queriedFields>Time_Till_Notice__c</queriedFields>
        <queriedFields>Non_Working_Day_Rule__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Repo_RT</name>
        <label>Find Repo RT</label>
        <locationX>234</locationX>
        <locationY>2723</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_iRepo_Zip_not_null</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFormRule.Repossession_Record_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repossession__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vReposessionRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_RL_Form_Rule_RT</name>
        <label>Find RL Form Rule RT</label>
        <locationX>78</locationX>
        <locationY>2417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Form_Rule</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFormRuleRTName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Form_Rule__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRLFormRuleRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_State_Record</name>
        <label>Find Matching State Record</label>
        <locationX>77</locationX>
        <locationY>1540</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_in_50_States</targetReference>
        </connector>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFinancialAccountCustomer.Mailing_State_Garage__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>X50_States__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>State__c</object>
        <outputAssignments>
            <assignToReference>vStateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_FA_VIN</name>
        <label>Lookup FA VIN</label>
        <locationX>235</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iRepo_VIN_Matches_FA_VIN</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFinancialAccount.Collateral__c</elementReference>
            </value>
        </filters>
        <object>Collateral__c</object>
        <outputAssignments>
            <assignToReference>vFAVIN</assignToReference>
            <field>Vehicle_Identification_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Vehicle_Info</name>
        <label>Lookup Vehicle Info</label>
        <locationX>229</locationX>
        <locationY>3388</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Repossession</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sFinancialAccount.Collateral__c</elementReference>
            </value>
        </filters>
        <object>Collateral__c</object>
        <outputAssignments>
            <assignToReference>vVehicle_Make</assignToReference>
            <field>Make__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vVehicle_Model</assignToReference>
            <field>Model_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Template_SLA_Expired</name>
        <label>Set Template SLA Expired</label>
        <locationX>77</locationX>
        <locationY>3736</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RL_Template_SLA_Expired__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>236</locationX>
        <locationY>3151</locationY>
        <connector>
            <targetReference>Is_Vehicle_Info_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>sFinancialAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Rule__c</field>
            <value>
                <elementReference>sFormRule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_Repo_Date__c</field>
            <value>
                <elementReference>vLocalRepoDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_Required_Notice_Date_Time__c</field>
            <value>
                <elementReference>vRequiredNoticeLocalText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_Required_Service_Level_Date__c</field>
            <value>
                <elementReference>vServiceLevelDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_State_of_Jurisdiction__c</field>
            <value>
                <elementReference>vStateOfJurisdiction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_System_Required_Notice_Date_Time__c</field>
            <value>
                <elementReference>vRequiredNoticeDateGMT</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FA_and_SoJ_on_Case</name>
        <label>Update FA and SoJ on Case</label>
        <locationX>405</locationX>
        <locationY>1086</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>sFinancialAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RL_State_of_Jurisdiction__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FA_and_SoJ_on_Repo</name>
        <label>Update FA and SoJ on Repo</label>
        <locationX>406</locationX>
        <locationY>978</locationY>
        <connector>
            <targetReference>Update_FA_and_SoJ_on_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sRepossession.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>sFinancialAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_of_Jurisdiction__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <object>Repossession__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Repossession</name>
        <label>Update Repossession</label>
        <locationX>77</locationX>
        <locationY>3496</locationY>
        <connector>
            <targetReference>Wait_for_iRepo_SLA_Expiration</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sRepossession.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Termination_Code__c</field>
            <value>
                <elementReference>vAccountTerminationCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>sFinancialAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Repo_Date_Time__c</field>
            <value>
                <elementReference>vLocalRepoDateStr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Repo_Date__c</field>
            <value>
                <elementReference>vLocalRepoDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vReposessionRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Tax_Zip_Code__c</field>
            <value>
                <elementReference>vSalesTaxZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_of_Jurisdiction__c</field>
            <value>
                <elementReference>vStateOfJurisdiction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Make__c</field>
            <value>
                <elementReference>vVehicle_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Model__c</field>
            <value>
                <elementReference>vVehicle_Model</elementReference>
            </value>
        </inputAssignments>
        <object>Repossession__c</object>
    </recordUpdates>
    <startElementReference>Is_FA_Lookup_Populated</startElementReference>
    <variables>
        <name>sCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sDealership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sFinancialAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Account__c</objectType>
    </variables>
    <variables>
        <name>sFinancialAccountCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Account_Customer__c</objectType>
    </variables>
    <variables>
        <name>sFormRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_Rule__c</objectType>
    </variables>
    <variables>
        <name>sRepossession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Repossession__c</objectType>
    </variables>
    <variables>
        <name>vAccountTerminationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFARecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFAVIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFormRuleRTName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Rights Letters</stringValue>
        </value>
    </variables>
    <variables>
        <name>vInState</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLocalRepoDateStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLocalRepoDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumericDPD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>sFinancialAccount.Numeric_Days_Past_Due__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>vRecoveryDateTimeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReposessionRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequiredNoticeDateGMT</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRequiredNoticeLocalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRLFormRuleRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSalesTaxZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vServiceLevelDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStateOfJurisdiction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vVehicle_Make</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>sRepossession.Vehicle_Make__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>vVehicle_Model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vVoluntary_Surrender</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_iRepo_SLA_Expiration</name>
        <label>Wait for iRepo SLA Expiration</label>
        <locationX>79</locationX>
        <locationY>3611</locationY>
        <defaultConnectorLabel>Don&apos;t Wait</defaultConnectorLabel>
        <waitEvents>
            <name>iRepo_SLA_Expiration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFormRule.iRepo_SLA__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCase.RL_Template_SLA_Expired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCase.RL_Template_Data_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_SLA_Expired</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>sRepossession.iRepo_RecoveryDateTime__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <elementReference>sFormRule.iRepo_SLA__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>iRepo SLA Expiration</label>
        </waitEvents>
    </waits>
</Flow>
