flows/RL_Update_Title_Address_for_Salvage-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Title_Fields</name>
        <label>Assign Title Fields</label>
        <locationX>42</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>sRepo.Title_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAuction.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sRepo.Title_Street1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAuction.BillingStreet1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sRepo.Title_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAuction.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sRepo.Title_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAuction.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sRepo.Title_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAuction.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sRepo.Title_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sRepo.Title_Street2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAuction.BillingStreet2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Title_Fields</targetReference>
        </connector>
    </assignments>
    <description>Update the title fields to the data from the default salvage auction agency</description>
    <label>RL Update Title Address for Salvage</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Default_Salvage_Auction_Agency</name>
        <label>Find Default Salvage Auction Agency</label>
        <locationX>41</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Title_Fields</targetReference>
        </connector>
        <filters>
            <field>Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDefaultSalvageAuctionAccountNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sAuction</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Title_Fields</name>
        <label>Save Title Fields</label>
        <locationX>42</locationX>
        <locationY>272</locationY>
        <inputReference>sRepo</inputReference>
    </recordUpdates>
    <startElementReference>Find_Default_Salvage_Auction_Agency</startElementReference>
    <variables>
        <name>sAuction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sRepo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Repossession__c</objectType>
    </variables>
    <variables>
        <name>vDefaultSalvageAuctionAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
