flows/SF_TOTP-13.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Get_QR_Code</name>
        <label>Get QR Code</label>
        <locationX>66</locationX>
        <locationY>174</locationY>
        <apexClass>TOTPPlugin</apexClass>
        <connector>
            <targetReference>Registration</targetReference>
        </connector>
        <inputParameters>
            <name>OTP_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>OTP_REGISTRATION_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>SECRET_INPUT</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>qr_url</assignToReference>
            <name>QR_URL_OUTPUT</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>secret</assignToReference>
            <name>SECRET_OUTPUT</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>728</locationX>
        <locationY>170</locationY>
        <apexClass>TOTPPlugin</apexClass>
        <connector>
            <targetReference>Login</targetReference>
        </connector>
        <inputParameters>
            <name>OTP_INPUT</name>
            <value>
                <elementReference>OTP_input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OTP_REGISTRATION_INPUT</name>
            <value>
                <elementReference>OTP_reg_input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SECRET_INPUT</name>
            <value>
                <elementReference>secret</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>IsTokenValid</assignToReference>
            <name>IsValid_OUTPUT</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Login</name>
        <label>Login</label>
        <locationX>521</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Token is invalid</defaultConnectorLabel>
        <rules>
            <name>Token_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTokenValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Token is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>240</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Get_Token_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get TOTP</defaultConnectorLabel>
        <rules>
            <name>Register</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secret</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Screen</targetReference>
            </connector>
            <label>Register</label>
        </rules>
    </decisions>
    <label>SF-TOTP</label>
    <processType>Flow</processType>
    <screens>
        <name>Get_Token_Screen</name>
        <label>Get Token Screen</label>
        <locationX>730</locationX>
        <locationY>327</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>GetTokenTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter Time-Based Token&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GetTokenInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter the token from the authenticator ap on your mobile device &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OTP_input</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>troubleTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Having trouble?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>troubleMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you can&amp;apos;t access your authenticator app, contact your administrator to reset your key.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Registration_Screen</name>
        <label>Registration Screen</label>
        <locationX>726</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>RegistrationTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Add a Time-based Token&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistrationInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Download the authenticator mobile device, scan the QR code, then enter the token.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistrationURL</name>
            <fieldText>&lt;IMG SRC=&quot;{!qr_url}&quot;&gt;
&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OTP_reg_input</name>
            <dataType>String</dataType>
            <fieldText>Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_QR_Code</startElementReference>
    <variables>
        <name>IsTokenValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>qr_url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
